[2017-03-17 20:46] hina-shah opened #4 "Update the Logo in the README and the Splash screen."

[2017-03-21 20:14] hina-shah opened #6 "FEAT: Add Shape Population Viewer to the build"

[2017-03-21 20:14] hina-shah opened #7 "FEAT: Add a data importer module."

[2017-03-27 16:07] hina-shah commented on #4
Resolved in Pull Request: #5

[2017-03-27 16:07] #4 closed

[2017-03-27 16:08] hina-shah opened #8 "Update Slicer tag"

[2017-04-05 12:56] bpaniagua opened #10 "Add shortcuts to module bar"
We need to add shortcuts to module bar in the SlicerSALT program.
![screen shot 2017-04-05 at 8 51 55 am](https://cloud.githubusercontent.com/assets/2599368/24706443/ab9d1e18-19dd-11e7-837f-51a350512967.jpg)

The things we should not add are crossed out in the snapshot above.

[2017-04-05 19:02] hina-shah commented on #8
Resolved with #9.

[2017-04-05 19:02] #8 closed

[2017-04-10 16:34] hina-shah commented on #10
Resolved in #11

[2017-04-10 16:34] #10 closed

[2017-04-20 16:50] hina-shah opened #12 "ENH: add a home module and acknowledgements"

[2017-05-10 14:47] bpaniagua opened #14 "Mac executable problem"
Solve problem on executables produced from packing cmake directives in mac

[2017-05-10 14:47] bpaniagua opened #15 "Add MeshToLabelMap to SlicerSALT"

[2017-05-10 14:48] bpaniagua opened #16 "Solve DMRIInstall error upon starting SlicerSALT"

[2017-05-10 14:48] bpaniagua opened #17 "GUI Clean-up: Hide all functionality from modules menu except from SlicerSALT"
Hide all functionality from modules menu except from SlicerSALT's

[2017-05-11 14:56] hina-shah commented on #14
With Slicer 4.7, the issue is related to using a custom built qt 4.8.7 vs an installed qt. I tried building against a built version of qt on my mac, and it works fine. We should see how dashboards behave.

[2017-05-16 14:28] bpaniagua commented on #12
The home module in the package for revision 0e34727 does not show up upon starting.
The home module wording needs updating. It has information about a different project (NIRFAST)
I will look into it.

[2017-05-16 14:33] hina-shah commented on #12
To get the home module show up you need to delete the .ini file in the settings-path location of Slicer. When you run SlicerSALT --settings-path it will show the path to .ini file. You need to delete that file and restart SlicerSALT.

[2017-05-16 14:36] bpaniagua commented on #12
Thanks @hina-shah. That did it.

[2017-05-16 14:37] bpaniagua opened #20 "SPHARM-PDM Shape Population warning"
Warning says - use the extension manager, but we have it disabled in SlicerSALT

[2017-05-16 14:39] hina-shah commented on #20
That warning was supposed to be for when SPHARM is used with Slicer proper. With SlicerSALT, shape population viewer will always be part of SlicerSALT, so the warning will not come up.

[2017-05-17 21:58] iPsych commented on #14
It's due to qt4 naming issue.
In very recent version of homebrew, it changed qt4 to qt@4.
you should go to /opt/local/ and make symbolic link with qt and webkit dylib.

[2017-05-17 21:59] iPsych opened #21 "Currently, Not all the functions are implemented, right?"
I saw "shape population viewer is not installed" message, and can't find any stat-related functions.
They are still on developing, right?

[2017-06-02 19:08] hina-shah commented on #21
Yep, that's right.. We are still under heavy development.

[2017-06-02 19:08] #21 closed

[2017-06-13 14:43] hina-shah commented on #15
Resolved in #19

[2017-06-13 14:43] #15 closed

[2017-06-13 14:43] hina-shah commented on #6
Resolved in #19

[2017-06-13 14:43] #6 closed

[2017-06-13 18:30] hina-shah opened #23 "ENH enable KWStyle as a git hook."

[2017-07-25 19:25] hina-shah commented on #14
This was solved on the dashboard machine. The Mac packages should work fine.

[2017-07-25 19:25] #14 closed

[2017-07-25 19:33] hina-shah opened #26 "Enable rigid alignment"
Enable rigid alignment modules from slicer and add them to data importer for allowing cohort alignment.

[2017-07-25 19:35] bpaniagua commented on #26
look into https://www.slicer.org/wiki/Documentation/4.4/Modules/SurfaceRegistration

[2017-07-25 19:35] hina-shah opened #27 "Add hooks to surface toolbox"
Enable either surface toolbox, or create modules for doing surface processing.

This would be for things like: surface decimation, surface normal generation, etc.

[2017-07-25 19:38] hina-shah opened #28 "Add sequences extension and create hooks into it."
Sequences extension can be used to play an animation of models with chosen color maps. Addition of this would be especially beneficial for the regression extension.

[2017-09-14 14:41] hina-shah opened #29 "Change the Slicer tag to more recent version"
As of September-14-2017, changing the Slicer tag to a latest gives:
* Bug fixes
* VTK8 addition
* enabled Qt5 (Although this still is in testing phase)
* Python3 (this is also in testing)

However, the tag change would also mean that there might be changes for the extensions. Even if Qt5 is not added to the extensions, they would need changes necessary for VTK8.

[2017-09-26 00:55] iPsych opened #31 "Statistics function"
Hello,
I heard you are working on new statistical function.
Is there any timeline or plan for that?
I'd rather postpone to using older t-test for 1-2 months if it will be implemented soon.

[2017-10-04 14:17] hina-shah commented on #29
This is not applicable, since Slicer still compiles with Qt4 and VTK7. This issue should be revisited when extensions are transitioned to Qt5. Closing the issue.

[2017-10-04 14:17] #29 closed

[2017-10-04 14:37] hina-shah opened #32 "Data importer module in packages is empty"
Data importer module in packages is empty. This is most probably due to a naming conflict with the directory in SPHARM-PDM for CommonUtilities. The easiest solution to this is to probably rename the folder in SPHARM-PDM. But ideally, the code for CommonUtilities should live in a repository if their task is the same.

[2017-10-05 13:11] bpaniagua commented on #31
Hi, we are looking at an early 2018 release for the new code. We will keep you posted.

[2017-10-05 18:05] bpaniagua opened #33 "DataImporter.py throws errors on startup"
Traceback (most recent call last):
  File "/work/Projects/slicerSALT/SlicerSALT-0.1.0-c988d2d-linux-amd64/lib/Slicer-4.7/qt-scripted-modules/DataImporter.py", line 260, in setup
    self.logic = DataImporterLogic()
  File "/work/Projects/slicerSALT/SlicerSALT-0.1.0-c988d2d-linux-amd64/lib/Slicer-4.7/qt-scripted-modules/DataImporter.py", line 44, in __init__
    self.createSingleDisplaySegmentModel

[2017-10-05 18:06] bpaniagua opened #34 "DMRI error on start up"
Traceback (most recent call last):
  File "/work/Projects/slicerSALT/SlicerSALT-0.1.0-c988d2d-linux-amd64/lib/Slicer-4.7/qt-scripted-modules/DMRIInstall.py", line 33, in __init__
    model = slicer.app.extensionsManagerModel()
AttributeError: qSlicerApplication has no attribute named 'extensionsManagerModel'

[2017-10-05 18:07] hina-shah commented on #33
This is related to the issue #32 . The cause is due to SPHARM-PDM having the same named directory for CommonUtilities which overrides SlicerSALT's directory.

[2017-10-05 18:08] bpaniagua commented on #33
Thanks @hina-shah
@laurapascal can you please look into this error?

[2017-10-05 18:09] hina-shah commented on #34
This is the same as #16... Should we just clobber it there?

[2017-10-05 18:11] #34 closed

[2017-10-05 18:11] bpaniagua commented on #16
Traceback (most recent call last):
File "/work/Projects/slicerSALT/SlicerSALT-0.1.0-c988d2d-linux-amd64/lib/Slicer-4.7/qt-scripted-modules/DMRIInstall.py", line 33, in init
model = slicer.app.extensionsManagerModel()
AttributeError: qSlicerApplication has no attribute named 'extensionsManagerModel'

[2017-12-20 16:58] laurapascal commented on #33
Resolved in #35

[2017-12-20 16:58] #33 closed

[2017-12-20 16:58] laurapascal commented on #32
Resolved in #35

[2017-12-20 16:58] #32 closed

[2018-01-30 01:20] hina-shah commented on #28
This seems to have been resolved in #37

[2018-01-30 01:35] hina-shah commented on #26
@bpaniagua : Do we want the whole CMFreg extension or just SurfaceRegistration mocule from that extension?

[2018-06-09 11:06] bpaniagua opened #41 "Add distance transform option to the Data Importer module"

[2018-06-15 11:07] bpaniagua opened #42 "Add some of MeshMath functionality to the Surface Toolbox"
MeshMath: https://github.com/NIRALUser/SPHARM-PDM/blob/master/Modules/CLI/MetaMeshTools/MeshMath.cxx

Surface Toolbox: https://github.com/Slicer/Slicer/blob/master/Modules/Scripted/SurfaceToolbox/SurfaceToolbox.py

[2018-07-20 05:13] phcerdan opened #43 "Update external projects to latest commits"
- [x] ShapePopulationViewer: Update when this PR is merged: https://github.com/NIRALUser/ShapePopulationViewer/pull/30. Done in #40
- [x] Update Sequences. Done in #40
- [x] Update Slicer. Done in #40, after Slicer updated CTK and backported VTKv9 patch in [04917a6ce74](https://github.com/Slicer/Slicer/commit/04917a6ce74d361c2abc7bdcb06340201953a8c3)

[2018-07-20 05:17] phcerdan opened #44 "Error in ShapeRegressionExtension: multiple rules generate lib/SlicerSALT-4.9/qt-scripted-modules/Resources/Icons/ShapeRegressionExtension.png"
[code]

[2018-07-30 17:07] phcerdan commented on #44
@jcfr, I have to go deeper into this for [ShapeRegressionExtension](https://github.com/KitwareMedical/ShapeRegressionExtension) but do you have any hint or have seen this error before? Thanks

[2018-08-03 14:14] #7 closed

[2018-08-03 14:21] bpaniagua commented on #17
We need to revise the superbuild process to not build functionality that isnt needed.

[2018-08-03 14:22] #20 closed

[2018-08-03 14:22] #23 closed

[2018-08-03 14:27] bpaniagua opened #45 "MFSDA extension"
We need this PR accepted https://github.com/DCBIA-OrthoLab/MFSDA_Python/pull/1
Add into SlicerSALT build system

[2018-08-03 14:29] bpaniagua opened #46 "S-rep extension"
Add to the build system of SlicerSALT

[2018-08-03 14:38] bpaniagua opened #47 "GROUPS extension"
This extension has been facing some challenges to build on Windows:
- We need to compile lapack in windows which requires specific compilers (fortran)

[2018-08-03 14:39] bpaniagua commented on #47
https://github.com/NIRALUser/GROUPS

[2018-08-03 14:41] bpaniagua opened #48 "ShapeEvaluator extension"
For whenever @juanprietob and the NIRAL intern get to modify ShapeVariationAnalyzer

[2018-08-03 14:41] bpaniagua opened #49 "Update website with new tutorials"
salt.slicer.org

[2018-08-04 18:18] phcerdan opened #50 "Python module SequenceSampleData depends on disabled SampleData"
Failed to instantiate module when launching SlicerSALT.

[code]

It is triggered from [here](https://github.com/SlicerRt/Sequences/blob/a4b32e822505373d34f250123421ac9485f3947c/SequenceSampleData/SequenceSampleData.py#L20).

We have explicitly disabled SampleData [here](https://github.com/Kitware/SlicerSALT/blob/45713b895eb9dcb996f29c150a0e940dcbd37b6b/CMakeLists.txt#L102)

[2018-08-04 18:29] #28 closed

[2018-08-07 13:54] bpaniagua commented on #49
- [ ] Groups
- [ ] SPHARM
- [ ] MSFDA
- [ ] Regression

[2018-08-10 14:55] vicory commented on #47
@jcfr Here are the pre-compiled libraries: https://icl.cs.utk.edu/lapack-for-windows/lapack/#libraries

[2018-08-10 20:33] phcerdan commented on #44
This seems related to a bug in the cmake ninja generator spotted by jcre, more to come soon.

It can be workarounded with `ninja -w dupbuild=warn`

[2018-08-13 15:18] #44 closed

[2018-08-13 15:42] #43 closed

[2018-08-13 18:09] jcfr commented on #47
To follow up on this, we reached out to the LAPACK maintainers and will contribute few fixes to support building LAPACKE on windows using Visual Studio.

See https://github.com/Reference-LAPACK/lapack/issues/273

[2018-08-14 15:17] phcerdan opened #51 "About requiring LAPACK"
Packaging LAPACK is a pain in windows, mainly because it requires a fortran compiler, which is only provided by MinGW or the intel compiler. Our best bet IMHO would be to use already compiled libraries and distribute them, however this is not recommended in general for testing, reproducibility, and security. If we go this way, we should create a recipe to create those binaries by our own first.

E

[2018-08-14 15:35] jcfr commented on #51
Great summary :+1:

These instruction seems to be a good starting point: https://icl.cs.utk.edu/lapack-for-windows/lapack/#build

Worth noting that these libraries would have to be distributed too:  `libgfortran-3.dll` and `libgcc_s_dw2-1.dll`

If that help, here is the history of the file: https://github.com/NIRALUser/GROUPS/commits/master/SuperBuild/External_LAPACK.cmake

[2018-08-14 15:36] jcfr commented on #51
May it could be as simple as having the binary built as part of the Lapack continuous integration ?

[2018-08-14 15:58] vicory commented on #51
It looks like GROUPS is using LAPACKE for an eigenvalue computation here: https://github.com/NIRALUser/GROUPS/blob/master/Modules/CLI/Groups/GroupwiseRegistration.cpp#L1146

We could probably use another library for this as well.

[2018-08-14 16:47] phcerdan commented on #16
Cannot reproduce after #40. Closing by now, please reopen if still relevant.

[2018-08-14 16:47] #16 closed

[2018-08-14 17:44] phcerdan commented on #51
Thanks @jcfr  and @vicory.

I think if lapack is used so sparsely, better to just remove it. I found out that VTK ships [Eigen library](http://eigen.tuxfamily.org/index.php?title=Main_Page), or at least a sub-set. This would be nice, Eigen is a templated, header-only algebra library, that competes in terms of speed with lapack and family.

I am going to keep updating in this thread. Thanks.

[2018-08-14 17:48] bpaniagua commented on #51
How much is this lapack packaging stopping us from making a release
early-ish?
I fear if we actually ask our developers to introduce a similar library and
then update the code and re-validate it, it will take a long long time.

On Tue, Aug 14, 2018 at 1:44 PM Pablo Hernandez-Cerdan <
notifications@github.com> wrote:

--
Beatriz Paniagua, PhD
Technical Leader
(919) 869-8877
Kitware, Inc.

[2018-08-14 17:54] vicory commented on #51
I don't think it makes sense to change SPHARM away from CLAPACK right now since it should already be working correctly on all platforms.

GROUPS requiring LAPACK is a hurdle to building on Windows, but the easiest solution in the short term is probably to just download the pre-compiled binaries. We could also look into seeing if the functionality its using in LAPACKE is supported in the CLAPACK th

[2018-08-14 18:13] phcerdan commented on #51
Ok, but just to put in place, SPHARM is using one function from CLAPACK. It is not a big refactor. But yeah, CLAPACK works everywhere.

I will check to use CLAPACK instead of lapacke meanwhile in GROUPS for the eigen computation. Zero effort for developers.

In the long-run, I would recommend going to the VTK-eigen path and avoid these painful dependencies.

That's right, for the future a really s

[2018-08-20 14:37] #46 closed

[2018-08-20 15:14] phcerdan commented on #48
Link: https://github.com/DCBIA-OrthoLab/ShapeVariationAnalyzer

[2018-08-20 15:19] phcerdan opened #54 "Test DataImporter"
https://github.com/Kitware/SlicerSALT/blob/master/Modules/Scripted/ShapeAnalysisToolBox/DataImporter.py

- [x] Remove CSV mode
* VTK case:
- [x] Rename `General VTK` to something else that also handles label map images.
- [x] Implement Import from Directory, handling label images, and vtk: mesh and surfaces. Plus any other sensible SlicerSALT file format.

Test public synthetic data [here](https:/

[2018-08-28 17:45] jcfr commented on #51
xref https://github.com/NIRALUser/GROUPS/pull/16

[2018-08-28 17:45] jcfr commented on #47
xref https://github.com/NIRALUser/GROUPS/pull/16

[2018-08-28 18:16] bpaniagua opened #58 "Download statistics for SlicerSALT"
Must decide between girder hosting vs package manager

[2018-08-28 18:26] bpaniagua opened #59 "fix dashboards"
@jcfr suggests
- [x] Linux - stays where it is  (Bea will fix)
- [x] Linux - slicer factory (JC and Pablo will set up)
- [x] Mac - slicer factory (JC and Pablo will set up)
- [x] Win - slicer factory (JC and Pablo will set up)

[2018-08-28 18:27] bpaniagua commented on #48
@vicory to follow up with @juanprietob

[2018-08-28 18:34] bpaniagua opened #60 "MSFDA tutorial"
@juanprietob will send email to follow up

[2018-08-28 18:40] bpaniagua opened #61 "data importer tutorial"
https://github.com/slicersalt/slicersalt.github.io/blob/master/docs/GROUPS-Tutorial-July16_2018.pdf

[2018-08-28 19:18] jcfr commented on #59
@phcerdan and I discussed and the SlicerSalt script for mac and windows will be added to https://github.com/Slicer/DashboardScripts

[2018-08-29 16:35] vicory commented on #12
I've pushed a commit (d9056eaeecfba8d869c8cf96ac3c722d85fe751c) that fixes the links on the home module for the extensions currently in master. This will need to be updated each time a new module is added, and in particular if a module not currently in the list is added every position after it in the list will need to be adjusted.

The current list of modules is:

1.  Data Importer
2.  Shape Popul

[2018-08-29 17:59] phcerdan commented on #59
Work on this is here: https://github.com/phcerdan/DashboardScripts/tree/add_SlicerSALT_scripts

MacOS and Windows added

[2018-08-31 14:36] bpaniagua commented on #12
It all sounds good. Maybe S-reps should be after GROUPS? It is also a method to compute a shape representation.

[2018-09-01 15:52] phcerdan opened #63 "Question: How can I pass a CMake option to a external module?"
For example, for [Sequences](https://github.com/Kitware/SlicerSALT/blob/master/CMakeLists.txt#L127-L136)

[code]

If I set a Sequences option in SlicerSALT ([see upstream repo CMakeLists.txt](https://github.com/SlicerRt/Sequences/blob/master/CMakeLists.txt) for the option)
`option(SEQUENCES_ENABLE_EXPERIMENTAL_MODULES "Enable the building of work-in-progress, experimental modules." ON)`

Sequences

[2018-09-05 16:14] phcerdan commented on #54
This is solved in #56. CSV has been removed, and it accepts VolumeFiles (LabelMaps), Segmentations, and any Model file.

[2018-09-05 22:51] phcerdan opened #66 "Poor resolution of logo"
![screenshot from 2018-09-05 18-48-01](https://user-images.githubusercontent.com/3021667/45125457-92920f80-b13c-11e8-95b0-07d547f76c13.png)

Not sure if this is because of the logo itself, or a Slicer issue.

[2018-09-05 23:19] jcfr commented on #66
xref https://github.com/KitwareMedical/SlicerCustomAppTemplate/issues/6

I think specific code should be removed from SlicerSALT (and the template), then the correct code should be added to https://github.com/Slicer/Slicer/blob/c88ee87ef2c1864fc5d737ef3654b64c2998dd91/Base/QTApp/qSlicerApplicationHelper.cxx#L80

[2018-09-05 23:44] #66 closed

[2018-09-06 03:56] phcerdan commented on #50
Workarounded in #64

[2018-09-06 03:56] #50 closed

[2018-09-06 03:57] #54 closed

[2018-09-06 14:50] bpaniagua opened #68 "BUG: Update splash screen"
Change splash screen to reflect new affiliations

[2018-09-08 19:52] bpaniagua commented on #59
<img width="1440" alt="screen shot 2018-09-08 at 3 51 29 pm" src="https://user-images.githubusercontent.com/2599368/45258067-2c48ff00-b37f-11e8-9c4b-0bc2fa12a879.png">

[2018-09-10 16:35] bpaniagua opened #72 "BUG: Python errors on start"
[code]

[2018-09-10 16:53] jcfr commented on #72
This was fixed in the latest version of SlicerSALT using a newer Slicer.

On Mon, Sep 10, 2018 at 12:35 PM Beatriz Paniagua <notifications@github.com>
wrote:

[2018-09-11 01:27] jcfr opened #74 "Fix windows build error due to path too long"
[code]

See https://open.cdash.org/viewBuildError.php?buildid=5532315

[2018-09-11 01:38] #74 closed

[2018-09-11 17:13] phcerdan opened #76 "Missing Fortran_COMPILER_ID"
In linux dashboard and locally reproduced.

[code]

[2018-09-11 18:11] jcfr commented on #76
If there are no fortran compiler installed, this is good and it means the build system is reporting a legitimate error.

Is it possible to install gfortran ?

[2018-09-11 18:19] phcerdan commented on #76
Locally I have gfortran installed, same error.

Why the same environment didn't report errors before?

[2018-09-11 18:33] phcerdan commented on #76
That was it, the error in kitware-ninja is not visible in the console, so dashboards results might be confusing.

Installing kitware-ninja solves it.

[2018-09-11 18:33] #76 closed

[2018-09-11 18:40] jcfr commented on #76
Gotcha. I followed the patter in the GROUPS and SPHARM project that were hidding the configure error from the dashboard. I will update the project to not hide configure error.

[2018-09-11 18:41] jcfr commented on #76
Thinking about it ... should we do this ? The rational behind hiding output of third party project is to avoid polluting the output with noise from dependent project ...

[2018-09-11 18:43] phcerdan commented on #76
Can we hide warnings but keep errors?

[2018-09-11 18:48] phcerdan commented on #76
I think having a false negative (an error not reported correctly) is worse than false positives (noisy output).

[2018-09-11 18:54] jcfr commented on #76
Sort of ... it is possible to add warning or error exception, but these have to be managed using regular exception and this applies only if you know the warning and error that you want to ignore. For example, [CTEST_CUSTOM_WARNING_EXCEPTION](https://github.com/Slicer/Slicer/blob/d04e361f7eb3559f50dd9fe2eaf2609e91576ef6/CMake/CTestCustom.cmake.in#L45) and [CTEST_CUSTOM_ERROR_EXCEPTION](https://gith

[2018-09-11 20:06] jcfr commented on #72
Please, re-open if still an issue

[2018-09-11 20:06] #72 closed

[2018-09-11 20:06] #51 closed

[2018-09-11 20:07] #47 closed

[2018-09-11 20:10] jcfr commented on #26
Since RigidAlignment is a dependency of GROUPS which was just integrated, I am closing this.

@bpaniagua this module belongs to the [CMFreg](https://www.slicer.org/wiki/Documentation/Nightly/Extensions/CMFreg), let us know if you think it should be integrated too.

[2018-09-11 20:10] #26 closed

[2018-09-11 20:11] jcfr commented on #26
See #47

[2018-09-11 20:12] jcfr commented on #27
Closing. This was fixed in https://github.com/Kitware/SlicerSALT/commit/14b07c4cc50bb477c03bff66d365b9022bcac04c

[2018-09-11 20:12] #27 closed

[2018-09-11 20:59] jcfr opened #78 "Fix macOS build"
See https://open.cdash.org/viewBuildError.php?buildid=5533395

RigidAlignment doesn't find SlicerExecutionModel

[2018-09-11 21:02] jcfr opened #79 "Fix packaging of gfortran libraries on macOS"
`gfortran_osx-64` installed using conda (see https://conda.io/docs/user-guide/tasks/build-packages/compiler-tools.html) contain libraries already fixed up with `@rpath`, this is preventing a successful packaging by Slicer.

A python (or bash) script could be created to fix-up the installed libraries.

[2018-09-11 21:03] jcfr opened #80 "Setup automated upload of SlicerSalt packages on girder"
Slicer build system only support uploading on Midas, it should be updated to support upload using a girder client.

Similarly to what was already done to support upload the extension to both Midas and slicer package manager.

[2018-09-11 22:27] phcerdan opened #81 "Add extra dashboard for linux"
Add script for SALT based on current Slicer in https://github.com/Slicer/DashboardScripts

[2018-09-12 03:55] #78 closed

[2018-09-12 23:30] phcerdan commented on #81
Done https://github.com/Slicer/DashboardScripts/pull/18

[2018-09-12 23:30] #81 closed

[2018-09-12 23:31] phcerdan commented on #68
Done by @vicory here

[2018-09-12 23:33] phcerdan commented on #59
Linux was added as well, see #81

[2018-09-12 23:34] phcerdan commented on #12
Fix by @vicory here: https://github.com/Kitware/SlicerSALT/commit/45e559c6010e283ec63dfda7074d2d88d950ffc3

[2018-09-12 23:34] #12 closed

[2018-09-13 18:26] jcfr opened #86 "External_python-scipy: Fix windows link error"
Based on the change of https://github.com/jcfr/SlicerSALT/commits/release-1.0, the windows build is getting further and fails with the following error:

[code]

[2018-09-13 18:37] jcfr commented on #79
@phcerdan updated the libraries on the macOS build machine and created a script for it, it is now documented on the Slicer wiki. See https://www.slicer.org/wiki/Documentation/Nightly/Developers/Fortran#macOS

[2018-09-13 20:32] jcfr opened #89 "Windows package: CPACK_PACKAGE_EXECUTABLES reference wrong version"
It could be caused by the fact the build tree wasn't started clean ...

[2018-09-13 20:36] jcfr commented on #89
On linux .. information is displayed as expected:

[code]

[2018-09-13 20:48] jcfr commented on #89
And on windows, we can observe `CPACK_PACKAGE_EXECUTABLES` is incorrect

[code]

[2018-09-13 20:48] vicory opened #90 "Error building python-scipy on Windows"
CUSTOMBUILD : error : Command "lib.exe build\temp.win-amd64-2.7\scipy\fftpack\src\dfft
pack\dcosqb.o build\temp.win-amd64-2.7\scipy\fftpack\src\dfftpack\dcosqf.o build\temp.wi
n-amd64-2.7\scipy\fftpack\src\dfftpack\dcosqi.o build\temp.win-amd64-2.7\scipy\fftpack\s
rc\dfftpack\dcost.o build\temp.win-amd64-2.7\scipy\fftpack\src\dfftpack\dcosti.o build\t
emp.win-amd64-2.7\scipy\fftpack\src\dfftpack\d

[2018-09-13 20:56] jcfr commented on #90
This is the same I saw on the factory. See https://github.com/Kitware/SlicerSALT/issues/86

[2018-09-13 20:57] vicory commented on #90
Whoops, missed that one.

[2018-09-13 20:57] #90 closed

[2018-09-13 21:26] #89 closed

[2018-09-13 21:33] phcerdan opened #93 "Fix links in Home module"
A few links are self-pointing to the Home Module:

https://github.com/Kitware/SlicerSALT/blob/master/Modules/Scripted/Home/Home.py#L85-L103

[code]

We should handle this either removing the line if the module is not ready, or fixing the link. @vicory

[2018-09-13 21:49] vicory commented on #93
Those are the two modules that were planned but aren't in yet. They should be going in soon, will fix the links when they do.

[2018-09-14 00:02] vicory commented on #86
Fixing this particular error is easy but it brings up another error. Even though the blas/lapack variables and path is set, it seems like the scipy build only searches python-install/Lib and python-install/libs for the blas and lapack libraries when linking. It seems like the easiest fix for this is to copy the files over there, is there any reason not to?

[2018-09-14 06:11] jcfr opened #98 "Fix version displayed in welcome screen"
![image](https://user-images.githubusercontent.com/219043/45532489-3f662f80-b7c2-11e8-9686-2868fab985fb.png)

`app->applicationVersion() ` return the wrong value

Problem is in `qSlicerApplicationHelper` where the following is user:

[code]

[2018-09-14 07:01] jcfr opened #99 "SRep fails to build on windows"
[code]

[2018-09-14 07:08] bpaniagua commented on #98
Looking through all the code changes @phcerdan @vicory @jcfr

Beautiful job!

[2018-09-14 07:32] #98 closed

[2018-09-14 07:32] #99 closed

[2018-09-14 07:44] bpaniagua commented on #68
The graphical splash screen needs to be updated. I am on it.

[2018-09-14 13:02] jcfr opened #101 "ShapeAnalysisModule is not available in the macOS package"

[2018-09-14 13:08] jcfr commented on #79
In addition of running @phcerdan script (https://gist.github.com/phcerdan/146de9398052335d8a76c5b0070715a6), I had to apply the following:

[code]

with
[code]

Indeed without this, the gfortran library is not completely fixed up:

[code]

[2018-09-14 13:46] jcfr opened #103 "ShapePopulationViewer: Windows build error related to ShapePopulationBase.cxx"
[code]

[2018-09-14 14:05] #103 closed

[2018-09-14 14:59] jcfr opened #105 "Address LAPACK linking warning"
A side of effect of commit `Fix windows build, Fix LAPACKE build on macOS` (see https://github.com/NIRALUser/GROUPS/pull/23), is that the deployment target associated with LAPACK is `10.11` instead of the explicitly configured one `10.9`

This explains the following warning:

[code]

[2018-09-14 15:13] jcfr opened #106 "Update LICENSE (displayed when executing installer on Windows)"
It currently has

[code]

[2018-09-14 15:45] jcfr opened #108 "Associate GitHub topics with this repo (and related repo)"
What about `slicer-salt` for the main one ?

Then, I think we should at least have: `kitware`, `3d-slicer-custom-application`, `3d-slicer` and few other one like it is done for Slicer:

![image](https://user-images.githubusercontent.com/219043/45560453-1ae67380-b813-11e8-8d70-567572bd5420.png)

![image](https://user-images.githubusercontent.com/219043/45560500-48332180-b813-11e8-93e6-8586185ade75.

[2018-09-14 15:49] #106 closed

[2018-09-17 04:40] jcfr commented on #101
This should be fixed by #111 (see https://github.com/Kitware/SlicerSALT/commit/1d5d7600d8c02c3219a9668b4115f627b98ec63c )

[2018-09-17 04:40] #101 closed

[2018-09-17 04:41] jcfr opened #112 "Improve gfortran fix-up script"
See https://github.com/Kitware/SlicerSALT/issues/79#issuecomment-421352839

[2018-09-17 04:42] jcfr commented on #112
Unless you quickly find a better way, I suggest you integrate my "Manual Tweaks" section into your gist

[2018-09-17 04:43] jcfr commented on #79
Closing. This should now be fixed.

[2018-09-17 04:43] #79 closed

[2018-09-17 05:40] jcfr opened #113 "Follow-up on the integration of the depent project pull requests"
There are now branches (and sometimes already a pull request) for a lot of the dependency of the current SlicerSALT. Would be great to follow up and make sure each one of them get integrated starting with the "leafs" of the graph (e.g MeshLib) and moving up the chain.

[2018-09-17 08:29] jcfr opened #114 "README: Update prerequisites"
It currently only includes "Slicer Prerequisites" but it should be updated to also list "Fortran Compiler".

I suggest to add a link to https://www.slicer.org/wiki/Documentation/Nightly/Developers/Fortran

The Slicer wiki page should then be updated to describe how to install Fortran on:
* macOS: (e.g Using miniconda)
* Linux: Using built-in gfortran compiler
* Windows: Using https://scikit-ci-add

[2018-09-17 13:27] bpaniagua commented on #114
Thank you @jcfr
@phcerdan it would be great if you could get to this before September 20th.

Thank you both again!

[2018-09-17 13:31] bpaniagua commented on #113
Thanks @jcfr
@phcerdan, can @vicory help you with this? Could you two meet and see through what is left before @vicory leaves?

[2018-09-17 15:06] phcerdan opened #115 "Add ParameterNode to DataImporter"
So scene can be saved, and user interaction with the the segmentation nodes (change name, deletion) is propagated to the DataImporter module.

[2018-09-17 15:35] phcerdan commented on #79
Thanks @jcfr

Not sure why `libgfortran.dylib` is not fixed in your case.

If you see the output that I posted in the first comment of gist: https://gist.github.com/phcerdan/146de9398052335d8a76c5b0070715a6 libgfortran.dylib is successfully fixed.

I will further explore, and if not, I will add your manual tweak to the fix.

[2018-09-17 15:36] phcerdan commented on #112
I will, I am not sure why `libgfortran.dylib` is not fixed (see my latest comment in #79

[2018-09-17 17:55] jcfr commented on #79
To clarify, the library is fixed but with "wrong" name. Due to the symlink.

On Mon, Sep 17, 2018, 8:40 AM Pablo Hernandez-Cerdan <
notifications@github.com> wrote:

[2018-09-18 23:52] jcfr opened #116 "Fixing remaining macOS packaging issues"
There are two approaches:

### (1) install content of extension package like existing built-in module and rely on the fix-up scrip of Slicer

The other approach is to ensure the content of the extension package is copied directly into the Slicer package (ignored the `./Slicer.app/Contents/Extensions-01234/ExtensionName` sub directory.

For this to work, the extension package would have to be done

[2018-09-19 21:30] phcerdan commented on #79
Fixed in the latest gist

[2018-09-19 21:32] phcerdan commented on #112
Ok, I updated the gist to parse the id of the current libs with `sed`. This handles the symlink case. I think it should be fully automatized now. https://gist.github.com/phcerdan/146de9398052335d8a76c5b0070715a6

[2018-09-19 21:32] #112 closed

[2018-09-19 21:48] phcerdan commented on #113
- [x] SPHARM-PDM: Merged upstream, pointing to upstream in #117
- [x] ShapeRegressionExtension: Merged upstream  in #117
- [ ] ShapePopulationViewer:
This still requires opening a PR from @jcfr branch: https://github.com/jcfr/ShapePopulationViewer/commits/slicersalt-2018-09-14-76d356d44

[2018-10-10 18:14] lassoan opened #119 "Make it easier to get started with SlicerSALT"
I've downloaded SlicerSALT because I was interested in what it can do.

I've found "Workflow quick-reference" very useful but I could not easily try these features in a few minutes, so I gave up. I was interested, but right now I was not that much interested so that I spend tens of minutes with trying to find data sets in a suitable format, figure out how exactly modules should be used, etc.

What

[2018-10-10 19:06] bpaniagua commented on #119
Hi @lassoan Thank you so much for your feedback.
You are right that interfacing data and tutorials need to be streamlined better and easier.
The tutorials are here: http://salt.slicer.org/documentation/ but the data so far is not anywhere within the SALT suite. I think your point is really good, we will work on adding sample datasets.

I will let you know when this is done on this issue we entice

[2018-10-10 20:22] lassoan commented on #119
Thanks! I've completely missed the tutorials on http://salt.slicer.org/documentation/ page. I simply did not find them because "General Slicer Guide", "SlicerSALT Forum", and "For Developers" had big green buttons but "Tutorials for the finer steps" was the last one and contained just links that looked like plain text. Maybe "Tutorials" could be moved to be the first column and the links could be

[2018-10-12 19:47] bpaniagua commented on #119
Yes, I think you are right! Perception is such a tricky thing, we did not realize that since we were the ones putting the website together!

[2018-10-17 19:54] vicory opened #120 "Qt errors with 1.0 package on Linux"
Using the 1.0 Linux package from Girder there are Qt errors thrown when switching to a SALT module. As an example, switching to RegressionComputation gives the following messages in the terminal:

"QFormBuilder was unable to create a custom widget of the class 'ctkCollapsibleButton'; defaulting to base class 'QWidget'."
Designer: The enumeration-type property contentsFrameShape could not be read.

[2018-10-17 20:05] bpaniagua commented on #120
Windows and MacOs packages do not display this error.

[2018-10-17 20:18] jcfr commented on #120
This is fixed in Slicer.

For reference:
* https://issues.slicer.org/view.php?id=4607
* http://viewvc.slicer.org/viewvc.cgi/Slicer4?view=revision&revision=27447

To confirm, I started SlicerSALT with `QT_DEBUG_PLUGINS=1` env variable (see http://doc.qt.io/qt-5/debug.html) and this is indeed the problem fixed in Slicer.

[code]

[2018-10-18 17:39] bpaniagua commented on #120
@vicory to update the Slicer tag in SlicerSALT

[2018-10-18 18:03] jcfr commented on #120
I suggest to update the version of Slicer to 4.10, and release SlicerSALT 1.2 on all platforms

[2018-10-24 04:08] lassoan opened #122 "Running Shape Analysis with default options results in slicer.util.MRMLNodeNotFoundException"
SlicerSALT 1.0 on Windows

The problem is most likely due to that `slicer.util.getNode()` throws an exception (API changed several months ago). This method should not be used in production code but only for interactive use/testing. Instead `slicer.mrmlScene.GetFirstNodeByName()` method may be used. Both should be avoided because several nodes may have the same name in a scene, so node name is not

[2018-10-24 15:14] lassoan commented on #122
Pull request submitted with a proposed fix: https://github.com/NIRALUser/SPHARM-PDM/pull/39

[2018-10-24 15:28] bpaniagua commented on #122
Thank you so much @lassoan !!

[2018-10-24 15:28] #122 closed

[2018-10-24 15:29] lassoan opened #123 "SegPostProcess fails for some labelmaps if Rescale option is enabled"
If leaving default (enabled) state of Post Processed Segmentation / Rescale then post processing generates invalid image - empty image, with region of interest that is outside of the original image's region.

This can be also reproduced by using only SegPostProcess module. Set [this image](https://1drv.ms/u/s!Arm_AFxB9yqHtfAfKKgWbkcgr2gUhQ) as input, create a new image for output, check Advanced /

[2018-10-24 15:31] lassoan commented on #123
I will not have time to work investigate this any further, it would be great if someone could take over from here.

[2018-10-24 15:40] lassoan commented on #122
Thanks for merging. Let us know when you have a SlicerSALT or SPHARM-PDM release that is ready to use.

We set Slicer ExtensionIndex for all of our extensions so that Slicer nightly builds always uses master branch of our extensions. This way whenever there are any fixes or improvements in the master branch they become available to all users automatically the next day. I would recommend to do the

[2018-10-24 15:58] mattjolley commented on #122
@lassoan

Great work!  The Ferrari strikes again.

[2018-10-24 16:07] jcfr commented on #122
We will switch to this approach too

[2018-10-24 17:07] bpaniagua commented on #123
@lassoan thank you for reporting. Yes, we will take it from here.

[2018-10-24 17:19] phcerdan commented on #123
Thanks @lassoan! @bpaniagua, I guess this is in the SPHARM-PDM module, opening an issue there to track it.

[2018-10-24 17:20] bpaniagua commented on #123
Thank you so much @phcerdan, sounds good

[2018-10-25 17:56] #123 closed

[2018-10-31 14:40] lassoan opened #125 "SlicerSALT build errors on Windows and Mac on factory due to Fortran"
SlicerSALT extension has build error on Windows and Mac on Kitware factory machines because Fortran compiler is not available.

http://slicer.cdash.org/viewConfigure.php?buildid=1417676
http://slicer.cdash.org/viewConfigure.php?buildid=1417836

This prevents updates of the extension, which is particularly bad because the extension version that is currently in the Extension Manager is not functiona

[2018-10-31 14:51] jcfr commented on #125
Thanks for the report.

Fortran is already installed and available as we used the same machine to create SlicerSALT packages. We will make sure the correct environment is set so that extensions are successfully built.

[2018-10-31 17:36] lassoan commented on #125
Sounds great, thank you!

[2018-10-31 21:35] vicory commented on #120
Updating the tag to 4.10 breaks an external module that depends on VTK 9.  @jcfr I assume this should be changed to 8.2?

[2018-10-31 21:47] jcfr commented on #120
If we are talking about the name of the external project, it should be `VTK` now.

do you have more context about the error ?

[2018-11-01 13:09] jcfr commented on #125
Closing. Tomorrow build is expected to be fixed.

[2018-11-01 13:09] #125 closed

[2018-11-01 15:13] jcfr opened #126 "ShapePopulationViewer: Loading VTP file lead to a crash"
See https://github.com/NIRALUser/ShapePopulationViewer/issues/34

[2018-11-01 15:14] jcfr opened #127 "ShapePopulationViewer: Create reusable widget to streamline integration in Slicer"
see https://github.com/NIRALUser/ShapePopulationViewer/issues/35

[2018-11-01 16:43] bpaniagua opened #128 "Add model to model distance to SlicerSALT"
https://www.slicer.org/wiki/Documentation/4.10/Extensions/ModelToModelDistance

https://github.com/Kitware/SlicerSALT/blob/master/SuperBuild/SlicerPackageExtensions.cmake#L28

[2018-11-02 13:04] #128 closed

[2018-11-04 05:50] jcfr commented on #126
This is fixed by https://github.com/NIRALUser/ShapePopulationViewer/pull/36

[2018-11-12 21:43] jcfr commented on #127
![image](https://user-images.githubusercontent.com/219043/48376845-1ebf3680-e69a-11e8-8500-bf737413f099.png)

[2018-11-13 14:04] bpaniagua commented on #127
@jcfr :heart_eyes: cant wait to try!

[2018-12-21 17:29] finetjul opened #137 "Failed to load data in ShapeAnalysisModule"
I downloaded SlicerSalt but when processing my inputs, I had a Python error.
Doing the (2) instead of (1) in utility.py fixed the problem:
1)
```slicer.util.getNode(node_name)```

2)

[code]

[2018-12-21 17:39] finetjul opened #138 "ParaToSPHARMMesh completes with errors"
When executing "Shape Analysis Module" with default parameters on dataset "Aim 2.0. SPHARM-PDM", the execution is "Completed with errors". See below the log

[2019-01-02 14:11] bpaniagua commented on #137
Hi @finetjul thank you for reporting.
@phcerdan could you please look into this?

[2019-01-02 14:11] bpaniagua commented on #138
Hi @finetjul thank you for reporting.
@phcerdan could you please look into this?

[2019-01-02 14:15] bpaniagua opened #139 "Enable SegPostProcess skipping in ShapeAnalysisModule"
Hi @vicory

Could you look into adding a way to skip SegPostProcess in the SPHARM computation?
Thank you,

Bea

[2019-01-03 13:42] phcerdan commented on #137
Thanks @finetjul, that was fixed in SPHARM-PDM [here](https://github.com/NIRALUser/SPHARM-PDM/commit/0efa94d30883ef259c35c70c5d2b6b8cb8e3768d) --October 2018--. Let us know if using an updated SlicerSALT fixes the problem.

[2019-01-03 13:42] #137 closed

[2019-01-03 14:10] phcerdan commented on #138
Thanks @finetjul. It might be a parsing error. The argument parsers of the SPHARM CLI might not be resilient against paths with multiple dots on it. Related file: [ParaToSPHARMMeshCLP/argio.h](https://github.com/jcfr/SPHARM-PDM/blob/slicersalt-2018-09-11-08eaaed1f/Modules/CLI/ParaToSPHARMMeshCLP/argio.h).

Could you test it removing the `Aim 2.0. ` bit in your folder? If still failing we will dig

[2019-01-31 18:18] bpaniagua commented on #138
Hi all,

I did a bit of digging. It seems a problem arising from Windows. It does not happen in Ubuntu.
@phcerdan see more info here: https://discourse.slicer.org/t/paratospharmmesh-completed-with-errors-on-win10/4814/8

Let us know what you figure out. Thanks!
Bea

[2019-01-31 18:37] bpaniagua commented on #138
cc: @vicory

[2019-02-07 18:30] vicory commented on #138
It looks like this is caused by flang.dll depending on libomp.dll which is not being packaged correctly. Working on a solution.

[2019-02-19 18:27] #68 closed

[2019-03-01 14:54] lopezmt opened #142 "Error while building SlicerSALT in docker"
hi,

I am trying to build SlicerSALT using the qt5-centos7 Slicer build environment Docker file but the compilation ends with errors. The errors occur while building SRep.

@jcfr, @phcerdan, do you know what could be the problem?

Here is the error I got:

[code]

[2019-03-01 15:01] jcfr commented on #142
Thanks for reporting the issue.

Could you share the command used to configure and build the project ?

Worth noting that the daily linux build done with the docker image seems to [succeed](https://open.cdash.org/index.php?project=SlicerSALT&date=2019-03-01). This is one done on metroplex.

For reference, corresponding build script can be found [here](https://github.com/Slicer/DashboardScripts/blo

[2019-03-01 15:59] phcerdan commented on #142
Thanks @lopezmt.
I cannot reproduce it locally in my machine. It seems like that Python.cxx file is not finding, or not linking to the library where vtkBackwardFlowLogic is defined?

Is that a clean build?

[2019-03-01 16:00] lopezmt commented on #142
I used the commands described in the ReadMe:
[code]

at this point, I have set the Slicer_REQUIRED_QT_VERSION variable to 5.11.2 instead of 4.7.4
and finally,

`make -j4`

[2019-03-01 16:13] lopezmt commented on #142
I am going to try again to be sure.

[2019-03-01 16:19] jcfr commented on #142
Could you also share how you make use of the docker image ?

[2019-03-01 16:28] lopezmt commented on #142
The image was already present in the docker server of the lab, I used this command to create the container:

`docker container run -it --name lpz_SlicerSALT -v /work/lpzmateo:/work/lpzmateo slicer/buildenv-qt5-centos7 bash`

I realize that I should have used the 'latest' tag after the image name, do you think that could be the problem?

[2019-03-01 16:41] jcfr commented on #142
To streamline use of the image, I would recommend to do this instead:

[code]

Then, assuming `~/bin` in the `PATH`, you could simply do this:

[code]

Then, you could either directly configure and build doing:

[code]

Or start a shell, and then build/configure/etc ...

[code]

and the usual

[code]

### Notes

* The script `slicer-buildenv-qt5-centos7-latest`:
  * takes care of mounting the curr

[2019-03-01 17:44] lopezmt commented on #142
Thank you for your help! Using a script instead of the usual command line is definitely a good idea.
SlicerSALT is building, I will let you know if it works.

[2019-03-01 22:14] lopezmt commented on #142
After following your method, I end up with the same issue, here are the exact commands I used :

[code]

I don't understand what is the problem, if the daily Linux build is working I should not have any problem using this method. maybe there is a problem with our docker image?

[2019-03-06 15:20] lopezmt commented on #142
it doesn't on my own computer either, I built the docker image and tried the steps but it ends with the same result.

[2019-03-08 00:56] jcfr commented on #142
Hi Mateo,

I suggest we do a video hangout. Would be available tomorrow ?

Jc

On Wed, Mar 6, 2019, 10:20 AM Mateo Lopez <notifications@github.com> wrote:

[2019-03-08 14:24] lopezmt commented on #142
Hi Jc,

Sure, I am available after 11am.

Mateo

[2019-03-08 16:01] jcfr commented on #142
To follow up, I just schedule a meeting for 1pm, you should have get an invite.

[2019-03-08 19:15] jcfr commented on #142
@lopezmt and I had a chance to discuss.

Here is a summary:
* docker image was most likely out of data. Running `docker pull slicer/buildenv-qt5-centos7` or `slicer-buildenv-qt5-centos7-latest update` ensure the latest version is used.
* we fixed the docker installation to allow running docker without being root user. See [here](https://medium.com/devgorilla/how-to-install-docker-on-ubuntu-18-04-4

[2019-03-11 19:05] jcfr commented on #142
@lopezmt To follow up on our last discussion, do you still have issues ? If not, I suggest we close this issue.

[2019-03-14 15:47] lopezmt commented on #142
Hi @jcfr,

after some tries and checks, I keep getting the same error...

This is the digest of the image I am using, can you tell me if we have the same one?

[code]

[2019-03-20 16:43] bpaniagua commented on #142
HI @lopezmt, were you able to resolve this problem?
Thanks,
Bea

[2019-03-21 14:46] lopezmt commented on #142
Hi  @bpaniagua,
I still have the same problem but Juan is trying to compile a version of SlicerSALT that I will be able to use to start working on the data importer.
Thanks,
Mateo

[2019-03-22 13:23] lopezmt commented on #142
Hi, we finally manage to build SlicerSALT but we had to modify the code of SRep.
In the header file vtkBackwardFlowLogic.h, we modified the declaration of the class vtkBackwardFlowLogic so it inherits from vtkObjectBase, it solved the casting issue.

I don't know if this was the best way to solve this issue and I still don't understand why you don't have the problem while building SlicerSALT in do

[2019-03-22 13:29] bpaniagua commented on #142
HI Mateo,

Great job! Lets wait for @jcfr to be back from vacation on Monday. We might have to open another issue to resolve the casting problem you found.

Thank you!
Bea

[2019-03-25 15:28] bpaniagua commented on #127
Is this issue ready to be closed?

[2019-03-25 15:29] bpaniagua opened #144 "Update SlicerSALT slicer tag when python 3 work has been completed"

[2019-03-27 15:56] #127 closed

[2019-03-27 22:33] phcerdan commented on #142
Hi @lopezmt, could you open an issue in SRep: https://github.com/KitwareMedical/SlicerSkeletalRepresentation/issues ?

The more steps for reproducing it, the better.
And also, please post the solution that you came up with.
Thanks!

[2019-03-28 13:58] lopezmt commented on #142
Hi @phcerdan, no problem I will open the issue

Thanks!

[2019-03-28 15:49] bpaniagua opened #145 "Tutorials for SlicerSALT 2.0"
- [ ] Removing all sources of the tutorials from repos
- [ ] Upload to GDrive

Per @jcfr 's advice:

* make sure you have google analytics on the slicer salt website
* use a shorturl to link and advertise the tutorials (goo.gl or bit.ly) this will give you free analytics.

This is for example the analytics associated with "Developing and contributing extensions for 3D Slicer" https://goo.gl/#analy

[2019-03-28 15:51] bpaniagua commented on #60
@MahmoudMostapha

[2019-03-28 15:52] jcfr commented on #145
Update: It turns out that `goo.gl` is being shut down this month, I suggest then to use bit.ly

[2019-03-28 15:52] bpaniagua commented on #61
@lopezmt I know you just got started. Since you have experience working on the SVA tutorial (very nicely done, btw), could you please take a first stab to develop this one?

[2019-03-28 15:54] bpaniagua commented on #42
@jcfr @vicory To be done during Summer 2019 with AOIT intern

[2019-03-28 15:55] bpaniagua commented on #31
see #45
Closing this

[2019-03-28 15:55] #31 closed

[2019-03-28 15:57] bpaniagua commented on #115
@phcerdan can we close this issue?

[2019-03-28 16:29] lopezmt commented on #61
@bpaniagua, thank you! I am glad you liked it.
Sure, I will start working on it when I finish the FreeSurfer tab.
I don't really understand some features of the data importer like the 'Save cleaned data' option and the 'Expected Cohort Topology' field of the Segments table.
 It would be nice to have an explanation to be able to do a good tutorial.

[2019-03-28 16:51] phcerdan commented on #115
The parameter node has not been added. You can close if we are not pursuing this any time soon, but the issue is still valid.

[2019-03-28 17:38] phcerdan commented on #142
Thanks for the detailed report in https://github.com/KitwareMedical/SlicerSkeletalRepresentation/issues/20
and the PR in: https://github.com/KitwareMedical/SlicerSkeletalRepresentation/pull/22 :1st_place_medal:

[2019-03-28 17:58] bpaniagua commented on #61
If you just leave slides as "placeholders" we will fill in the gaps for the parts that we developed! :)
Thank you Mateo.

[2019-03-28 18:30] bianchijonas1 opened #146 "Groups Not Working in Mac / Windows"
attn: @vicory @jcfr

Good morning,
I have tried to run the rigid registration in Groups, but I had problems in the SLICER Salt.
In the windows version, nothing happens after I clicked to run ( "not responding message").
In  mac, everything looks good; however, after clicking Run in the rigid registration, the "shapepopulationviewer" opens and at the same time closes, having nothing computed.
Hope

[2019-03-28 19:06] lopezmt commented on #61
Sounds good!

[2019-03-29 16:46] #142 closed

[2019-04-10 19:36] vicory commented on #146
Hi Jonas,

Can you provide a couple of additional pieces of information:

1. Which version of SlicerSALT are you using?
2. If you're using the 1.0 release, can you try a recent nightly build for Mac from here: https://data.kitware.com/#collection/586fbb7b8d777f05f44a5c7b/folder/5bd85a568d777f06b9402dad and see if the problem is fixed?
2. Can you provide a sample dataset that I could use to reprodu

[2019-04-10 20:07] bianchijonas1 commented on #146
Hello Vicory. Thank you so much.
I`ve downloaded and tested the version: slicerSALT-1.1.0-2019-03-29-macosx-amd64.dmg as you requested. Good news, it worked.
The files were generated after I clicked to run.
The only observation is that the software does not open automatically the ShapePopulation viewer, however, for me, is not a problem since I can open and check the correspondence by myself. -- a

[2019-04-13 17:12] iPsych opened #148 "Is there any simple regression (not time) stat available in SlicerSALT?"
I hear that statistical analysis function will be dramatically changed in new version (SPHARM to SlicerSALT).

Is there any available function to run regression analysis (i.e. IQ) with shape in current builds of SLICERSALT?

[2019-04-15 16:12] bpaniagua commented on #148
@iPsych you should give a try to the [shape regression tools ](http://bit.ly/2uVYche)in SlicerSALT.
We have used them to create 4D shape models of growth or shape evolution (linear variable = time), but you could set them up such they regress over IQ.

Let us know how it goes!

[2019-04-23 19:27] jcfr commented on #93
Closing. Fixed in integrated in https://github.com/Kitware/SlicerSALT/commit/489db318aa3f5a3a6ed0bed849ba5726cbfbc411

[2019-04-23 19:27] #93 closed

[2019-04-23 19:28] jcfr commented on #48
Extension integrated in https://github.com/Kitware/SlicerSALT/commit/489db318aa3f5a3a6ed0bed849ba5726cbfbc411

[2019-04-23 19:28] jcfr commented on #45
Extension integrated in https://github.com/Kitware/SlicerSALT/commit/489db318aa3f5a3a6ed0bed849ba5726cbfbc411

[2019-04-23 19:28] #45 closed

[2019-04-26 14:13] iPsych commented on #148
@bpaniagua Thanks for the advice.
I will test following your advice.
However the issue is in most clinical study, the age and biological sex (sometimes disease duration too) have to be controlled.
Is there any roadmap for support more flexible regression analysis?

In previous analysis I export everything and run surfstat in matlab.

[2019-04-26 15:30] bpaniagua opened #155 "SVA python issue"
Hi @jcfr

I am encountering this error when I try to run sva from a compiled version of SlicerSALT.
Ideas?

![Screenshot from 2019-04-26 11-23-43](https://user-images.githubusercontent.com/2599368/56818938-bebae780-6816-11e9-8171-ff15a0565e8a.png)

cc: @lopezmt

[2019-04-26 15:38] jcfr commented on #155
Gotcha. The header  at the top of the python script is incorrect.

Waiting we update the code, you could locally modify the header of these files:
* `lib/SlicerSALT-4.11/qt-scripted-modules/shapepca`
* `lib/SlicerSALT-4.11/qt-scripted-modules/MFSDA_createShapes.py`
* `lib/SlicerSALT-4.11/qt-scripted-modules/MFSDA_run`
* `lib/SlicerSALT-4.11/qt-scripted-modules/MFSDA_createShapes`
* `lib/SlicerSALT

[2019-04-26 15:38] bpaniagua commented on #155
more info: It does not happen on the package uploaded [to our download folder](https://data.kitware.com/#collection/586fbb7b8d777f05f44a5c7b/folder/5bd85a568d777f06b9402dad).

[2019-04-26 15:40] jcfr commented on #155
I see. Will get back with  a different fix then.

[2019-04-26 19:50] #155 closed

[2019-04-26 19:53] jcfr commented on #86
Closing.

Following the Slicer update integrated python3 and the direct installation of scipy, there is no need to build it.

[2019-04-26 19:53] #86 closed

[2019-04-26 19:54] jcfr commented on #144
Closing. See https://github.com/Kitware/SlicerSALT/pull/149

[2019-04-26 19:54] #144 closed

[2019-04-26 19:56] #108 closed

[2019-04-26 21:35] #48 closed

[2019-04-26 21:35] #59 closed

[2019-04-26 21:40] jcfr commented on #17
see https://github.com/Kitware/SlicerSALT/pull/153

[2019-05-07 19:33] bpaniagua opened #156 "Dashboards for Win and Mac crashing on 04-07-2019"
https://open.cdash.org/index.php?project=SlicerSALT&date=2019-05-07

[2019-05-08 12:34] bpaniagua opened #157 "Create SlicerSALT 2.0 packages"
Archive 1.0 stable packages here https://data.kitware.com/#collection/586fbb7b8d777f05f44a5c7b/folder/5cd2cc848d777f072b957aad

Create 2.0 packages to have in the root download folder: https://data.kitware.com/#collection/586fbb7b8d777f05f44a5c7b/folder/5898b7ef8d777f07219fcb14

[2019-05-15 14:56] bpaniagua opened #158 "Update DataImporter version"
Merge latest changes from Mateo's fork https://github.com/lopezmt/SlicerSALT

[2019-05-15 18:54] bpaniagua commented on #158
@lopezmt When I merge your changes into SlicerSALT I experience the following errors:

1. When clicking the freesurfer tab:
File "/work/Projects/slicerSALT/development/SlicerSALT-build/Slicer-build/lib/SlicerSALT-4.11/qt-scripted-modules/DataImporter.py", line 1396, in onFreeSurferFileSelectionChanged
    subjects_path = self.freesurfer_subjects_path
AttributeError: 'DataImporterWidget' object has

[2019-05-16 14:43] lopezmt commented on #158
Hi @bpaniagua,

Yes, this was debugging code, it is a list of all the color tables available in SlicerSALT.

I removed this code in my lasts commits, the bug you mentioned is also resolved by the last commit as well as some python3 compatibility bugs.

[2019-05-16 14:49] jcfr commented on #158
@lopezmt If possible, would be great to create a branch based of the current master of SlicerSALT and cherry-pick your changes on top of it.

See https://github.com/Kitware/SlicerSALT/pull/159#issuecomment-492694762

[2019-05-16 14:58] lopezmt commented on #158
@jcfr  I am not really familiar with cherry-picking but I will try

[2019-05-16 16:11] lopezmt commented on #158
The new pull request is here #160

[2019-06-11 15:39] lopezmt opened #161 "Collect SampleData sources"
As suggested in #119 , this issue is here to collect the sample datasets for each module of the workflow to help getting started with SlicerSALT.

For each module, a download link is needed as well as an image that represents the dataset.

Here is a list of modules that the need a dataset:
* [ ] Data Importer
* [ ] Shape Population Viewer
* [ ] SPHARM Shape Analysis Module
* [ ] Study-specific Sha

[2019-06-12 00:41] jcfr commented on #161
May be you could find some of the existing data look at the tutorials ? See http://salt.slicer.org/documentation/

[2019-06-12 12:32] bpaniagua commented on #161
There is data here https://data.kitware.com/#collection/586fbb7b8d777f05f44a5c7b/folder/58b5d0fc8d777f0aef5d04af Please let me know if you can see it.

[2019-06-12 14:28] jcfr commented on #161
Thanks @bpaniagua

@lopezmt

For each dataset of interest, consider getting the associated SHA512 (you can get it by clicking on the "i" icon - see below)

Then, register the SampleDataSource using URL like https://data.kitware.com/api/v1/file/hashsum/sha512/7b5357dc10376ce3c60e6321829e3bd62de9de875488644e849c9c3b2cc724193d0c9f4333b60b4f7f175fb973b61c7a18ea0b74c7675e966905bd0028669e28/download and

[2019-06-12 17:55] lopezmt commented on #161
Thank you @bpaniagua  for the link, I am able to see the data. In the regression datasets, I can see two folders, one with the input data and one with the output data, do you think that should be two different datasets under the category 'Shape Regression' data?

Thanks for the tip @jcfr, I have just a question, some of the datasets contain a lot of files like in the Shape Regression dataset at ht

[2019-06-12 18:09] jcfr commented on #161
You could use the girder client to download the folders/collection locally and then compute sha512 yourself. (e.g using sha512sum).

Some relevant links:
* https://girder.readthedocs.io/en/stable/python-client.html#python-client
* https://itk.org/ITKExamples/Documentation/Contribute/UploadBinaryData.html

[2019-06-20 14:17] lopezmt commented on #161
Until now, I have been able to collect and integrate the data for the Shape Regressions, the Data Importer and the SPHARM Shape Analysis Modules. Do you know if I can find icons that represent those datasets somewhere?

I have the dataset I used for the tutorial of the Shape Evaluator but I don't know how to upload it into the Kitware Data.

It also looks like the dataset used in the tutorial of t

[2019-06-21 05:21] jcfr commented on #161
For now, let's not worry about it. I think it more important to make sure all data are available and working for each modules.

I also posted next steps at https://github.com/Kitware/SlicerSALT/pull/163#issuecomment-504289433

Indeed, there are no files [here](https://data.kitware.com/#collection/586fbb7b8d777f05f44a5c7b/folder/58b993588d777f0aef5d0f93) in girder

@mmmosman88 or @ilwoolyu , could

[2019-06-21 15:55] lopezmt commented on #119
To update the subject, we started registering some datasets to test SlicerSALT modules. Until now, we have sample data for the Data Importer, the SPHARM-PDM and the Shape regression module.

![Sample_data_screen_shot](https://user-images.githubusercontent.com/40871321/59935078-f8752c80-941a-11e9-8c13-1b0fd881b12b.png)

For now, they are available in the Sample Data module but they should be availa

[2019-07-05 18:50] jcfr commented on #156
Closing. This was fixed by publishing the corresponding Slicer branch

[2019-07-05 18:50] #156 closed

[2019-07-05 18:52] jcfr commented on #17
Closing. This is now fixed.

![image](https://user-images.githubusercontent.com/219043/60740619-76195c00-9f34-11e9-8b16-5c7247e32c6b.png)

[2019-07-05 18:52] #17 closed

[2019-07-05 21:49] jcfr opened #164 "Add tests for loading sample data in corresponding module"
self-test for loading provided sample data should be added.

[2019-07-05 21:50] jcfr opened #165 "Improve modules to keep track of last input directory"
* [ ] improve modules so that the last input directory or files is stored in settings
* [ ] after user click on a button to download data and select a destination directory, make sure the settings key expected by the corresponding module is set

[2019-07-09 12:52] jcfr opened #166 "SampleData tab tweak"
* [x] Add button to open browser for looking at tutorials
* [x] Rename tab from "SampleData" to "Tutorials"

[2019-07-10 07:27] vicory opened #167 "Python 3 compatibility"
@jcfr  Just to put it on your radar, I've run in to several problems in the last couple of weeks with python 3 compatibility with some of our existing python modules. I can get you a more complete list later but I believe MFSDA/GROUPS/Regression were having problems related to string vs byte encoding and SVA is throwing an error because ListType is not defined in python 3.

[2019-07-11 03:42] iPsych commented on #167
@vicory I am experiencing similar issues with MacOS + Python3 in Latest versions (SlicerSALT-1.1.0-2019-07-05-macosx-amd64, SlicerSALT-1.1.0-2019-06-19-macosx-amd64.
I guess it's due to filesystem structure of OS.
In Linux, str - byte problem seems not happen, but in Mac OS, all the import, SPHARM steps show error with Python3.
I think it's migration issue.

[2019-07-11 03:46] jcfr commented on #167
@iPsych Thanks for the update. As soon as the problem is addressed (most likely tomorrow), we will close this issue.

[2019-08-05 19:29] vicory commented on #167
@sjh26 I tried to run several modules, here are the problems I've identified so far. Let me know if you need some data to test with or a quick primer on how to run the modules.

### SPHARM-PDM:

Error:
`  File "/work/SALT/build_20190805/Slicer-build/_CPack_Packages/linux-amd64/TGZ/SlicerSALT-1.1.0-2019-08-05-linux-amd64/bin/../lib/SlicerSALT-4.11/qt-scripted-modules/ShapeAnalysisModule.py", line 3

[2019-08-05 20:59] jcfr commented on #167
I suggest we update the modules to only support python3.

## SPHARM-PDM

Change

[code]
to

[code]

See https://github.com/slicersalt/SPHARM-PDM/blob/slicersalt-2018-11-29-4baa99c10/Modules/Scripted/ShapeAnalysisModule/ShapeAnalysisModule.py#L374

## Shape Variation Analyzer

Change
[code]

to

[code]

## MFSDA

Writing of the CSV file should be changed using this approach. See https://docs.python

[2019-08-05 21:00] jcfr commented on #167
@sjh26 If you don't have the bandwidth to tackle this, I can work on these issues tomorrow morning.  Let me know.

[2019-08-05 21:03] sjh26 commented on #167
Since I have gotten tangled up in getting the Fortran Windows build working again, it would be great if you could take a look at this.

[2019-08-05 21:06] sjh26 opened #169 "Windows Fortran prerequisite info is old / out of date"
Need new miniconda / flang script to address the Fortran requirement

[2019-08-05 21:07] sjh26 commented on #169
Currently working on this

[2019-08-06 17:02] bpaniagua commented on #167
New error using SPHARM in 1.0
Widget: Running ShapeAnalysisModule
-- Scheduled : ShapeAnalysisModule
2 case(s) found
-- Running : ShapeAnalysisModule
Traceback (most recent call last):
  File "/Users/bpaniagua/Desktop/SlicerSALT.app/Contents/lib/SlicerSALT-4.9/qt-scripted-modules/ShapeAnalysisModule.py", line 626, in onApplyButton
    self.Logic.ShapeAnalysisCases()
  File "/Users/bpaniagua/Deskto

[2019-08-07 14:35] bpaniagua commented on #167
Hi @vovythevov

SlicerSALT modules are all deployed as extensions that automatically get downloaded and packaged with SALT during the build process.

I believe these issues can be also tested one by one in the latest Slicernightly, by installing each one of the modules as extensions.

You will have to do PRs to each repo independently.

@jcfr @vicory are we already replicating code individually fo

[2019-08-07 14:38] vicory commented on #167
We have forks of all of the repos that we are packaging from. The links in my post are to those repos, we can worry about migrating changes upstream later.

I recommend testing from a SALT build rather than installing via Slicer because I believe the Slicer extensions are pulled from the upstream repos.

[2019-08-07 14:40] bpaniagua commented on #167
Sounds good. @vovythevov please update the issue with each repo fixed when you get to this.

[2019-08-07 15:00] vovythevov commented on #169
@sjh26: Is this this issue ?

[code]

[2019-08-07 18:32] jcfr commented on #169
yes. This means it couldn't find flang

[2019-08-07 19:40] lbumbolo opened #170 "Building SlicerSALT - Error"

[2019-08-07 19:48] #170 closed

[2019-08-07 22:20] jcfr commented on #169
Since the installation for Fortran prerequisites documented at https://github.com/Kitware/SlicerSALT#prerequisites is not working as expected,

Waiting this is fixed, you could download this [Miniconda3.zip](https://drive.google.com/file/d/1cahLtmN78pydyDBAqPpbw7xOxdo87q91/view?usp=sharing) archive and extract it to `C:\Miniconda3`.

Cc: @vovythevov  @sjh26

[2019-08-08 18:22] sjh26 commented on #169
PR for new Miniconda script: https://github.com/scikit-build/scikit-ci-addons/pull/87

Once this is merged, I will update the Fortran instructions here:  https://www.slicer.org/wiki/Documentation/Nightly/Developers/Fortran

[2019-08-08 18:56] vovythevov commented on #169
I get the following error when trying to build LAPACK (either with the miniconda JC provided me or through the new instructions):

[code]

[2019-08-08 19:10] jcfr commented on #169
Which version of CMake are you using ?

Worth noting that CMake 3.15.x can not be used, I am discussing issue with the CMake team.

[2019-08-08 19:21] vovythevov commented on #169
I am using 3.13.4

[2019-08-08 19:35] jcfr commented on #169
Are you using https://github.com/Kitware/ninja/releases ?

[2019-08-08 19:41] vovythevov commented on #169
Yes, I got an error message when I wasn't :)

[2019-08-08 20:16] sjh26 commented on #167
@vicory are you working currently on any of these?  I am going to try to knock them out today.

[2019-08-08 20:18] vicory commented on #167
No from me right now, I finished SPHARM but the others are still pending.

[2019-08-09 04:29] sjh26 commented on #167
PR up for shape regression: https://github.com/KitwareMedical/ShapeRegressionExtension/pull/23

[2019-08-09 06:42] sjh26 commented on #167
PR for Shape Analyzer:

https://github.com/slicersalt/ShapeVariationAnalyzer/pull/1

[2019-08-09 16:29] sjh26 commented on #167
MFSDA PR

https://github.com/slicersalt/MFSDA_Python/pull/1

[2019-08-14 16:17] jcfr commented on #158
Closing. Corresponding changes have been integrated.

[2019-08-14 16:17] #158 closed

[2019-08-14 16:17] jcfr commented on #161
@bpaniagua I will keep this issue open until we have sample data for the other modules.

[2019-08-14 16:18] jcfr commented on #157
Closing. @sjh26 took care of updating the dashboard scripts and generating packages

[2019-08-14 16:18] #157 closed

[2019-08-14 16:19] jcfr commented on #126
Closing. Corresponding PR has been integrated

[2019-08-14 16:19] #126 closed

[2019-08-14 18:04] jcfr commented on #166
Closing. Fixed by https://github.com/Kitware/SlicerSALT/pull/175

[2019-08-14 18:04] #166 closed

[2019-08-15 15:51] bpaniagua opened #176 "Shape Variation Analyzer export button"
cc: @styner
At CMBBE 2019, some users mentioned that the PCA explorer in SVA is very cool but just an exploration tool. We should add an export button that can export important geometries from the PCA space.

The export tab allows you to select the group, the PC of interest and number of standard deviations + and - and it will save a geometry for the mean, and any additional geometries reflected b

[2019-08-15 15:53] bpaniagua opened #177 "Shape Variation Analyzer Projection plot"
cc: @styner

The SVA projection plots should display both the PC1 and PC2 loads, but also the filename when you hover on top of a certain data point.

The SVA projection plots should give two distinct colors to each data object projected to see the difference in data distribution (prep for classification, DWD, deep learning)

[2019-08-15 16:04] styner commented on #176
Great idea, yes, I can see how this would be helpful. I could see that we/Louis would be able to work on that too. Can you provide a bit more detail on what exactly would be saved? The meshes only (with appropriate naming) or a PCA data-structure? How would the user exactly specify what should be exported?

[2019-08-15 16:07] styner commented on #177
Agree, good ideas for extending SVA's functions

[2019-08-15 17:20] bpaniagua commented on #177
@styner it would be great if your team can do it, otherwise we can quickly take it
We created a 2.0 package for the workshop yesterday, but I would like to do a follow up release with these little features soonish (< 1 month)

What do you think?

[2019-08-15 17:30] bpaniagua commented on #176
<img width="816" alt="Screen Shot 2019-08-15 at 1 18 11 PM" src="https://user-images.githubusercontent.com/2599368/63112983-93900b80-bf5f-11e9-9a15-943dd8408d5c.png">

How about something like this,

The user indicates the PC (you have a drop down menu from all the eigendirections calculated for the PC exploration), a group (another drop down menu like the one in which you select what group you wi

[2019-08-15 17:32] bpaniagua opened #178 "Data Importer being able to select the template topology among a group of subjects"
Right now the template is the first subject in the group. We should change this.

[2019-08-15 17:55] bpaniagua opened #179 "Data importer should clean state when scene is closed"
Right now the tables continue being populated with the previous data.

[2019-08-15 18:10] styner commented on #176
The second option covers the first and is more broadly applicable. I think we should go for that one.

[2019-08-15 18:11] bpaniagua commented on #176
Perfect!

So, will you guys take this one? What is Louis github handle? I can add him as a SALT collaborator.

[2019-08-15 18:11] styner commented on #177
Agree, would be nice for next release. Should be possible, let's talk details next week.

[2019-08-15 18:25] styner commented on #176
lbumbolo is Louis's github user

[2019-08-15 18:26] bpaniagua opened #180 "Data importer selection tool does not work as expected"
![My Video 2](https://user-images.githubusercontent.com/2599368/63116763-672cbd00-bf68-11e9-98a7-aa114462cf67.gif)

The expected behavior for the selection of one subject is correct. The label's table is populated with all the labels from that subject. When selecting more than one subject, the labels that are common to all subjects should be also populated in the label's table, so you can see a la

[2019-08-15 18:36] bpaniagua opened #181 "Shape statistics"
We need to improve the UI of this module. It is not ready for prime time.

[2019-08-20 14:00] bpaniagua opened #182 "Integrate new Surface Toolbox"
Generate test data for the new features in the surface toolbox.
Integrate with new SlicerSALT 2.1
Publish blog

[2019-08-20 14:04] #169 closed

[2019-08-20 14:05] sjh26 commented on #169
Fortran prereqs have been updated.

[2019-08-20 14:05] #167 closed

[2019-08-20 14:10] bpaniagua commented on #182
Hi @jcfr

Please integrate the latest changes from Ben [1], and when that is in master I will work on generating test results and finishing the blog.

Thank you,

Bea

1.

- [ ] integrating in Slicer proper

- [ ] updating slicer tag in slicerSALT

[2019-08-20 15:19] sjh26 opened #183 "Volume Rendering module not loaded on Windows"
Low priority, but should be fixed

[2019-08-20 16:07] bpaniagua commented on #161
Uploaded sample data for few modules here https://data.kitware.com/#collection/586fbb7b8d777f05f44a5c7b/folder/58b5d0fc8d777f0aef5d04af

[2019-08-20 19:58] bpaniagua commented on #176
@lbumbolo
[Here](https://data.kitware.com/#collection/586fbb7b8d777f05f44a5c7b/folder/5d5c195085f25b11ff3e1ad8) is the SVA data

[Here](https://data.kitware.com/#collection/586fbb7b8d777f05f44a5c7b/folder/5898b7ef8d777f07219fcb14) are the packages for you to try.

[2019-08-22 13:27] bpaniagua commented on #179
Look at how the Segment Editor handles the closing of a scene.

[2019-08-22 13:28] bpaniagua commented on #179
@jcfr Information should be included in the developer module that "close scene" functions should be implemented with any module.

[2019-08-22 13:36] bpaniagua opened #184 "Add stretchers to modules that do not have them"

[2019-08-22 13:38] bpaniagua opened #185 "Update the dll error that pops up in Windows"

[2019-08-22 13:51] bpaniagua opened #186 "SlicerSALT website updates"
- [ ] Make header on top of each pages more compact
- [x] Improve how to find tutorials in page
- [x] Find plugin to display bib file in the citation

[2019-08-22 13:51] bpaniagua opened #187 "SlicerSALT update tags in the repo"

[2019-08-22 15:02] #187 closed

[2019-08-30 13:54] bpaniagua commented on #176
Hi @styner @lbumbolo

How is this development going?
Thanks!

Bea

[2019-09-04 16:49] sjh26 commented on #183
Closed by ce20c7161ac9c353239d1e0b65555b4bbfdf2324

[2019-09-04 16:49] #183 closed

[2019-09-04 16:49] sjh26 commented on #185
Closed by ce20c7161ac9c353239d1e0b65555b4bbfdf2324

[2019-09-04 16:49] #185 closed

[2019-09-04 18:37] lbumbolo commented on #176
Hi @bpaniagua , sorry for the late answer I was on vacation.

I did the tutorial and looked at the code but I have an issue, with the SVA data that you gave me, I tried the tutorial and when I want to "Process and Export" the CVS file, it doesn't work. I try to understand what I do wrong, because I want to explore the "PCA exploration" part of the module.

Thanks,
Louis

[2019-09-04 21:49] jcfr commented on #182
Done in [r28482](http://viewvc.slicer.org/viewvc.cgi/Slicer4?view=revision&revision=28482)

Done in https://github.com/Kitware/SlicerSALT/pull/190

[2019-09-04 22:40] sjh26 commented on #177
In progress:  https://github.com/sjh26/ShapeVariationAnalyzer/tree/slicersalt-2019-09-04-8340af24e

[2019-09-05 13:29] bpaniagua commented on #176
are you using the csv option in the PCA tab?

[2019-09-05 13:55] sjh26 commented on #184
I will do this on the SVA module since I am already working on it.

[2019-09-05 13:56] vicory commented on #184
I've also already done this for MFSDA.

[2019-09-05 14:13] lbumbolo commented on #176
Yes exactly!
As far as I understand, it's the tool to create the JSON to after use the PCA exploration, isn't it?

I have my CVS file, after creating my groups, but when I click on "Process and Export" Nothing happen.

[2019-09-05 17:07] lbumbolo commented on #176
Sorry for the inconvenience, I was probably doing something bad but now I have the PCA exploration.

I will try to add the export tab with all the requirements mentioned before. If it's ok I just need a bit more time to understand how everything work in the population analysis tool.

[2019-09-05 19:15] sjh26 commented on #177
@bpaniagua

This is somewhat unclear.  Do you mean that when visualizing the "All" group we should color the points by group?

Otherwise:
 - what is the source/determiner of the two distinct colors
 - I am not sure how we are going to do two colors one point

[2019-09-06 13:46] #181 closed

[2019-09-06 13:51] #178 closed

[2019-09-06 13:51] #179 closed

[2019-09-06 13:51] #180 closed

[2019-09-06 13:59] #182 closed

[2019-09-06 14:14] #146 closed

[2019-09-06 14:44] bpaniagua commented on #176
Sounds good! Let us know if you need any help.
We will be rolling this issue into the development of the next release.

[2019-09-06 14:54] sjh26 commented on #177
Filename display is done for 2.2 . Group coloring will be addressed in 2.3

[2019-09-06 15:45] bpaniagua commented on #146
@bianchijonas1,

This problem has been addressed. Please test again in SlicerSALT 2.2 and let us know how it goes.
I will close this issue for now, if you have any further problems, please report again.

[2019-09-06 17:46] vicory commented on #184
I checked all of the top-level modules in my local build and the only one that still needed this fix is SVA which Sam is taking care of. I think we can close this.

[2019-09-06 17:47] #184 closed

[2019-09-06 19:17] #186 closed

[2019-09-09 15:51] bpaniagua opened #195 "Continue Surface Toolbox development"
see: https://github.com/Slicer/SlicerSurfaceToolbox/issues/6

[2019-09-10 12:42] bianchijonas1 commented on #146
@bpaniagua thank you for your and others feedback.
I'm glad to know about SlicerSALT 2.2. I'll test and let you know
many thanks again,
Jonas

[2019-09-13 20:08] lbumbolo commented on #176
Hi @bpaniagua, we talked about the new tab with @styner and so I wanted to make sure that the ideas are all good.

First about the tab that you drew, it now looks like that:
![SingleExport](https://user-images.githubusercontent.com/53876367/64890371-81c48580-d63d-11e9-9aff-7a42c47c79ba.png)
That tab is about creating one vtk file either with the options indicated, either just the current visualiza

[2019-09-13 20:16] bpaniagua commented on #176
Looks good to me @lbumbolo !!
Question: is the plan to incorporate both the axis export and the single export?

Ccing @jcfr and @vicory for them to have a look!

[2019-09-13 20:24] lbumbolo commented on #176
Yes the plan is to incorporate both, but I can also just do one of them.

What was your plans about this?

[2019-09-13 20:31] bpaniagua commented on #176
Great, both is good!

I did not see the question sorry.

For the single export: what do you mean "the others?" in this option you should export the mean of the group and the mean deformed in +std and -std in a certain principal direction indicated by the PC input (so a total of 3 files)

For the axis export would be the same, but the number of outputs depends on your step size:
i.e. if you want to

[2019-09-13 20:42] lbumbolo commented on #176
My question is, Are the other directions unchanged if they are not selected by the user in the single export?

It's ok for the Axis Export, I imagined it like that too.
We can also just ask the user how many samples they want in that range between std_min and std_max to avoid the boundary issue?

[2019-09-16 12:11] bpaniagua commented on #176
"My question is, Are the other directions (PC) unchanged if they are not selected by the user in the single export?"

What do you mean by unchanged?

[2019-09-16 14:39] lbumbolo commented on #176
For example if the user is asking for PC 4 at std +1, is it the configuration that he needs like this?
![ex_probleme](https://user-images.githubusercontent.com/53876367/64966876-98512380-d86d-11e9-90ac-d2976d457ac4.png)

[2019-09-16 14:40] bpaniagua commented on #176
Yes, I get it now.

Yes, your interpretation is right. The export is of the mean deformed in a single PC, so all PCs stay at 0 (mean) except the one for which you are doing the export.

[2019-09-16 14:43] lbumbolo commented on #176
Great, thank you!

I tell you when the Single Export is done.

[2019-09-16 14:44] bpaniagua commented on #176
Sure thing.
@vicory will also send an email with a calendar invitation for our monthly meetings. Reach out at anytime.

[2019-09-18 12:17] bpaniagua opened #197 "Fortran library problems in SPHARM PDM"
OS: Windows
Data to reproduce: https://data.kitware.com/#collection/586fbb7b8d777f05f44a5c7b/folder/5d5c185f85f25b11ff3e1911
Error:
“/..../GenParaMeshCLP: error while loading shared libraries: libgfortran.so.3: cannot open shared object file: No such file or directory”

cc: @sjh26 could you please look into this problem?

[2019-09-18 12:59] jcfr commented on #197
Is this issue also happening on macOS and linux ?

[2019-09-18 13:18] bpaniagua commented on #197
Not in linux

[2019-10-01 21:09] sjh26 commented on #197
So, this is a linux error, not a windows error.  Can't reproduce in Windows.  The 'libgfortran.so.3' library that it wants can't be found.  It may be a packaging error, or something with the version of fortran installed on metroplex.

[2019-10-01 22:06] sjh26 commented on #197
So, the fortran installed in the docker image provides a libgfortran.so.  This install is correctly located by FindFortran.  I am not sure where/how the build is requesting libgfortran.so.3

[2019-10-02 17:04] sjh26 opened #198 "ParaToSPHARMMesh completed with errors on win10"
https://discourse.slicer.org/t/paratospharmmesh-completed-with-errors-on-win10/4814

[2019-10-02 17:05] sjh26 commented on #198
Issue reported in the beginning of the hread.  Installer version on Windows fails during ParaToSPHARM Mesh.  This is not occurring in local build.

[2019-10-02 17:48] sjh26 commented on #138
I will be updating the FindFortran CMake module to correctly include libomp.dll in the runtime libraries.  This should address the issue/

[2019-10-02 17:51] sjh26 commented on #198
Duplicate of #138

[2019-10-02 17:51] #198 closed

[2019-10-02 17:51] bpaniagua commented on #138
:clap:

[2019-10-02 18:48] sjh26 opened #199 "CLI progress bar pops out when running SPHARM-PDM"
This is due to a python error

[2019-10-02 18:50] sjh26 commented on #199
[code]

[2019-10-02 20:08] jcfr commented on #138
Listing the library here should do it then: https://github.com/scikit-build/cmake-FindFortran/blob/41cf473a70420b3803724f788f5a50fa1a2cb16e/FindFortran.cmake#L557

Since `libomp.dll` is a runtime dependency and not a link time one, this is sub-optimal but should ensure the library is packaged. Make sure you add a comment

[2019-10-02 21:02] sjh26 commented on #138
Here is what I am currently testing:

https://github.com/sjh26/cmake-FindFortran/commit/e6fde2e907465801a98f3ad37878d6130d67af61

Instead of adding it as a link deps, I am inserting it into the list later so it only shows up as runtime

[2019-10-02 21:03] jcfr commented on #197
Here are the variables set by FindFortran on metroplex:

[code]

And I can also confirm that the fortran library is in the first listed link directory:

[code]

This seems an issue with CMake handling of implicit link directories, I will check with the CMake team.

[2019-10-02 21:32] jcfr commented on #138
Looks good to me.

I just added you as a collaborator to the repository and granted you write access.

After integrating, instruction to release a new version of the module are here: https://github.com/scikit-build/cmake-FindFortran#creating-new-release-and-updating-readme

Let me know if you have questions

[2019-10-02 21:39] sjh26 commented on #138
Thanks!  Testing is looking good so far.  The cache variables look correct, so just finishing the build so that I can test packaging.  Once it is confirmed, I will push changes and update the various repos.

[2019-10-03 15:03] #199 closed

[2019-10-03 15:04] sjh26 opened #201 "Shape population viewer crashes when opening a directory"

[2019-10-03 15:05] sjh26 commented on #201
Crashes if the directory contains non-model files?

[2019-10-07 18:30] Guido-NYU opened #203 "Windows version: Regression does not run"
On Windows, the regression computation program stops just after running (error says list index out of range). Looking at the output csv file, we see that the windows generated file has a blank line after each shape, but the LINUX version does not. I think this issue may create the problem of not running properly.

[2019-10-07 18:31] bpaniagua commented on #203
This will be likely a python 3 problem

[2019-10-07 18:32] Guido-NYU opened #204 "Regression visualization: volume plot is wrong and does not show in Windows"
The regression visualization works, but when choosing volume plot we see the original volumes as dots but the estimated volumes as a zig-zag line with wrong time range and wrong magnitudes.
In the windows version, the volume plot does not come up at all.

[2019-10-09 18:06] #138 closed

[2019-10-15 21:16] lbumbolo commented on #176
Hello @bpaniagua

I pushed the code that I changed (with the new tab) to the master. Could you please look at it and give me feedback?

Thank you,
Louis

[2019-10-17 17:37] bpaniagua commented on #176
could you point me to your commit and repo?
Thanks!
cc: @jcfr

[2019-10-30 17:19] jamesfishbaugh opened #205 "Shape Regression: Sample data different from tutorial"
In the Regression Computation module, the "Download sample data" button downloads a sequence of 5 shapes representing a sphere deforming into an ellipse. However, the tutorial references 3 shapes which is a totally different shape evolution. I think this may be confusing to users who expect the tutorial refers to the sample data (the download button is directly below the tutorial link).

Also, the

[2019-10-31 12:09] bpaniagua commented on #205
I understand.
@jamesfishbaugh could you please send us the data you used to create the tutorial? We will update the "download sample data" functionality for this module.

[2019-11-06 08:16] iPsych commented on #205
Hello, is it possible to add menu for put general continuous measure? Does the example @jamesfishbaugh mentioned is the one different from aging?

[2019-11-06 21:29] jamesfishbaugh commented on #205
Here is the tutorial data.

On Thu, Oct 31, 2019 at 8:09 AM Beatriz Paniagua <notifications@github.com>
wrote:

--
James Fishbaugh, PhD
Research Assistant Professor
Computer Science and Engineering Department
NYU Tandon School of Engineering
2 MetroTech Center, 10.039
Brooklyn, NY 11201

[2019-11-07 00:36] iPsych commented on #205
@jamesfishbaugh

Thanks but I can't see the link. Would you check it again?

[2019-12-13 09:36] iPsych opened #209 "Certain data provides NaN datapoints."
Tested with more than 100 nifti file, and checked files with error via visual inspection (no vivid distortion or holes in the binary nifti.)

However, some files causes below output in all `.vtk` files in Step3_ParaToSPHARMMesh step.

<details><summary>Example of output</summary>
<pre>
# vtk DataFile Version 4.2
vtk output
ASCII
DATASET POLYDATA
POINTS 2562 float
nan nan nan nan nan nan nan nan na

[2019-12-16 15:19] bpaniagua opened #210 "SampleData for DataImporter is not loading the whole dataset"

[2019-12-16 15:28] sjh26 opened #211 "Windows nightly packages not generating"
Packaging error:

[code]

NSIS error:

[code]

[2019-12-16 15:29] sjh26 commented on #211
@jcfr Any thoughts on what is causing this?

[2019-12-16 15:35] jcfr commented on #211
I suspect it it related to the path length.

The following path has 264 characters and the max path limit is usually 256 on Windows

`D:/D/P/SSALT-0-build/Slicer-build/_CPack_Packages/win-amd64/NSIS/SlicerSALT-2.3.0-2019-12-13-win-amd64\lib\Python\Lib\site-packages\sklearn\datasets\tests\data\openml\292\api-v1-json-data-list-data_name-australian-limit-2-data_version-1-status-deactivated.json.gz`

[2019-12-16 15:41] sjh26 commented on #211
This error did not occur when I was generating the last set of packages, and we have not changed the sklearn version since then??

[2019-12-16 15:52] jcfr commented on #211
yes

This could be done adding an exclusion expression here. See https://github.com/Slicer/Slicer/blob/a41bd64d8ca67879e60c251ecde757c64d4765c6/CMake/SlicerBlockInstallPython.cmake#L29-L51

Since the list of expressions can not be customized, a commit in the Slicer fork in SlicerSALT organization could be done.

[2019-12-16 15:54] sjh26 commented on #211
OK, will work on that

[2019-12-16 16:08] bpaniagua commented on #176
@juanprietob  @vicory lets follow up on this

[2020-01-09 23:29] vicory opened #212 "Build error from ShapePopulationViewer on Windows"
Currently getting this error when trying to build latest master on Windows:

From what I can tell it should only be trying to build those methods if ShapePopulationViewer_BUILD_SLICER_EXTENSION is off but I've confirmed that it's on. Still investigating what might be causing it.

@jcfr @sjh26 have either of you run into this problem?

[2020-01-09 23:42] jcfr commented on #212
Try deleting the associated `moc_` files generated in the build directory, then reconfigure and build. I suspect this wasn't a clean build.

[2020-01-10 01:38] vicory commented on #212
I tried removing the moc files and doing a clean build and am still getting the same error.

[2020-01-13 22:21] #212 closed

[2020-01-15 15:15] #203 closed

[2020-01-17 15:07] vicory commented on #211
It looks like we are still not generating nightly packages for Windows. Is there an easy fix for this? If not I'll go ahead and upload a Windows package I generated on my machine (with the s-rep extension disabled due to path lengths) as a placeholder.

[2020-01-17 15:15] jcfr commented on #211
This should be addressed in the next few days after we re-installed software on the windows dashboard.

If you need windows package right away, generating them locally is the way to go.

[2020-03-11 18:31] jamesobutler opened #218 "Scipy built by default with newer Slicer version"
With https://github.com/Slicer/Slicer/commit/47deb76d7556e40de4e25e585c4b24a63a153da5, Scipy is now built by default.  This is a heads up for whenever this repository updates the Slicer version used. Therefore when building the External_python-mfsda-requirements project, the Scipy specification won't be needed.  Slicer will also be specifying a version of Scipy that has a newer minor version so th

[2020-03-12 12:30] bpaniagua commented on #218
Thank you @jamesobutler
@jcfr @sjh26 could you please fix this?

[2020-04-06 17:43] #211 closed

[2020-05-12 01:23] sjh26 opened #220 "Linux package not uploading on metroplex"
The Linux package is being built, but the upload is failing.  The girder cli claims that it cannot find the file, but it is present.

@bpaniagua  can you give me upload access to the nightly packages folder so that I can manually upload ?

Package upload log:
[code]

Contents of `girder_upload_errors.txt`:
[code]

[2020-05-12 12:56] bpaniagua commented on #220
Hi @sjh26

I just gave you permission in the folder, please let me know how it goes.
Thanks,

Bea

[2020-05-13 00:47] sjh26 commented on #220
I think there is something broken in girder-cli itself.  This is what I get if I try to just run the cli:

[code]

[2020-05-13 00:48] sjh26 commented on #220
I have manually uploaded the missing Linux package, so that is good for now.

[2020-05-13 00:51] bpaniagua commented on #220
cc: @jcfr maybe something we need to look at in the factory

[2020-05-13 01:13] jcfr commented on #220
Thanks for the detailed report, it all makes sense. I will provide details as soon as I confirm my fix.

[2020-05-13 01:44] jcfr commented on #220
It turns out that since I installed python3.6 and most likely removed python3.5, existing virtual  environments became invalid.

Worth noting that it looks like I omitted to keep track of all the steps in the `install-log.txt`

Now to address the problem, I just regenerated all of them.

For reference, here are the most recent notes I added to `~/install-log.txt`:

[code]

[2020-05-13 01:44] #220 closed

[2020-07-21 04:51] jcfr opened #224 "Update ShapeVariationAnalyzer version and simplify its integration"
Since following the merge of https://github.com/DCBIA-OrthoLab/ShapeVariationAnalyzer/pull/50, an external project installing scikit-learn is provided in the extension, after updating the version of `ShapeVariationAnalyzer` used in SlicerSALT, the following files should be removed:
* [SuperBuild/ShapeVariationAnalyzer-requirements.txt](https://github.com/Kitware/SlicerSALT/blob/35cf669847b6b87438b

[2020-07-21 12:37] bpaniagua commented on #224
@vicory Could you please do this?
Thanks!

[2020-07-21 14:18] vicory commented on #224
Simply updating the SVA SALT is using does not work. First, the build fails because it tries to install scikit-learn before pip is built.

Making sure pip is available first makes the SVA build complain because there is not a required hash listed for scipy, which scikit-learn depends on. For SALT this is pulled in separately by MFSDA, not sure how this will work building as an extension for Slicer

[2020-07-21 14:43] jcfr commented on #224
Thanks for the feedback, this makes sense. I will submit a PR to address this after my current meeting.

[2020-08-04 04:17] m9h opened #228 "Configuring with CMake 3.17.4 on Fedora 32 fails"
Clone from Github Repo
Mkdir build && cd build
cmake ../src

CMake Error:
   Generator

     Unix Makefiles

   does not support variable

     CMAKE_DEFAULT_BUILD_TYPE

   but it has been specified.

Ref: https://github.com/Slicer/Slicer/issues/4798

[2020-08-04 13:50] sjh26 commented on #228
In the short term, using CMake <= 3.16 will work

[2020-08-04 16:19] #228 closed

[2020-08-09 20:50] jamesobutler commented on #218
This was closed by 9af9bc6ef83c9acf493c51568b85b02d6187e2d7.

[2020-08-09 20:50] #218 closed

[2020-09-17 14:17] petsuter opened #230 "AttributeError: 'NoneType' object has no attribute 'moduleSelector'"
`SlicerSALT --no-main-window`
[code]

[2020-09-17 16:15] bpaniagua commented on #230
Hi @petsuter

I believe this is a misuse of the commandline functionality of SlicerSALT / Slicer.
More info [here](https://www.slicer.org/wiki/Documentation/Nightly/ScriptRepository).

ccing @jcfr to confirm this.

Thanks for reporting.
Bea

[2020-09-17 16:26] petsuter commented on #230
Hi @bpaniagua
Thanks for your reply.
I'm new to this program. Can you clarify what the misuse is?

The `SlicerSALT --no-main-window` is just the simplest command-line leading to this error; the same error also occurs with `SlicerSALT --no-main-window --python-script one-of-the-bundled-scripts.py`

[2020-09-17 16:29] bpaniagua commented on #230
Yes, that was my intuition, that --no-main-window had to be used in conjunction with other scripts. Ok, we will further investigate.

[2020-11-24 18:03] sh4174 opened #231 "git clone command in readme"
Dear whom it may concern,

The command in the readme markdown, "git clone git@github.com:Kitware/slicerSALT.git", doesn't seem to work for a regular user without permission, or at least for me. I think it's a typo and it needs to be changed to "git clone git://github.com/Kitware/slicerSALT.git". Thank you.

Best,
Sungmin

[2020-11-24 18:13] bpaniagua commented on #231
Hi Sungmin,

Thank you so much for touching this. Can you please change the readme?
Best,

Bea

[2020-11-24 18:17] sh4174 commented on #231
Hi Bea,

Thanks for the invitation. Sure, I changed the readme in a branch named "sh4174-patch-1". Hope it works. Thank you!

Best,
Sungmin

[2020-11-24 18:29] bpaniagua commented on #231
Awesome! Merged.

[2020-11-24 19:02] sh4174 commented on #231
Great. Thank you!

[2020-11-24 19:02] #231 closed

[2021-01-06 17:07] bpaniagua opened #233 "Make the SlicerSALT citation more visible"
* In salt.slicer.org Downloads page
* In this github page
* In the application (About menu)

[2021-09-02 13:35] bpaniagua opened #240 "Update SlicerSALT master"
Hi @allemangD,

Can you please update the master brand of the repo so it includes [the latest version of the salt modules?](https://github.com/slicersalt)

Thank you!
Bea

[2021-11-04 16:07] #240 closed

[2022-03-25 15:39] yehan0223 opened #254 "Fix group assignment issue in SVA"
Email from Maura:
`I noticed while using the Slicer SALT Shape Evaluator module in the Preview/Update groups section that when you load a CSV file, then select a group to view, the module was randomly assigning valves to groups. For example I know that valve 81 is in group 3 and I am very familiar with its shape and overall characteristics, but when I selected group 1 to preview, 81 was appearing.

[2022-05-24 15:35] bpaniagua commented on #41
@vicory can this one be closed?

[2022-05-24 15:36] #42 closed

[2022-05-24 15:37] #49 closed

[2022-05-24 15:37] bpaniagua opened #257 "Update tutorials with new Kitware logos"
we need a new template.

[2022-05-24 15:37] #58 closed

[2022-05-24 15:37] #60 closed

[2022-05-24 15:42] bpaniagua commented on #61
I will take a stab at this

[2022-05-24 15:43] #63 closed

[2022-05-24 15:43] bpaniagua commented on #80
@sjh26 can this issue be closed? It seems like we are going to deprecate data.kitware.com

[2022-05-24 15:47] #105 closed

[2022-05-24 15:48] #230 closed

[2022-05-24 15:48] bpaniagua commented on #224
@jcfr i believe this issue can be closed, can you please confirm?

[2022-05-24 15:50] bpaniagua commented on #205
Hi @jamesfishbaugh can you see if this is still a problem?

[2022-05-24 15:51] bpaniagua commented on #204
@vicory has this issue been addressed?

[2022-05-24 17:04] #113 closed

[2022-05-24 17:05] bpaniagua commented on #116
@jcfr is this still a problem?

[2022-05-24 17:06] #197 closed

[2022-05-24 17:06] #120 closed

[2022-05-24 17:19] bpaniagua commented on #165
It would be great to get this revisited. Adding Connor @Connor-Bowley

[2022-05-24 17:20] bpaniagua commented on #177
@sjh26 can this one be closed?

[2022-05-24 17:23] sjh26 commented on #177
Yes, this can be closed

[2022-05-24 17:24] #177 closed

[2022-05-24 17:24] #176 closed

[2022-05-24 17:27] bpaniagua opened #258 "SlicerSALT 4.0"
- [x] 1. Open and merge a PR updating SVA to take the new SReps.
- [x] 2. Confirm with Jared that everything is working as expected.
- [x] 3. Merge the changes to SlicerSALT repo (mostly just CMake hash updates) into master
- [x] 4. Work with @sjh26  to get the SlicerSALT CDash scripts updated to work with the newer Slicer version
- [x] 5. Add Fly-by-CNN work that @MathieuLeclercq has been working

[2022-05-24 17:27] bpaniagua opened #259 "Finalize s-rep refactoring"
- [x] Complete tutorial
- [x] Publish blog
- [x] Upload sample data

[2022-05-24 17:28] Connor-Bowley commented on #258
1. is in progress. See https://github.com/slicersalt/ShapeVariationAnalyzer/pull/8

[2022-05-24 17:31] vicory commented on #258
I'm in the middle of testing 1. (which will complete 2.)

[2022-05-24 17:31] Connor-Bowley commented on #259
Also upload sample data

[2022-05-24 17:53] bpaniagua opened #260 "Point set surfaces"
• Increased Choices of Shape Representations: In addition to the developed SPHARM, S-Rep, and longitudinal meshes, this proposal will add representations of point set surfaces.

@Guido-NYU do you remember why we wrote this on the proposal?

[2022-05-24 17:53] bpaniagua commented on #260
cc @jamesfishbaugh

[2022-05-24 18:21] bpaniagua opened #261 "Integrate Conformal Mapping into SPHARM"
In progress https://github.com/bpaniagua/SPHARM-PDM/tree/addConformalMapping

[2022-05-24 18:27] bpaniagua opened #262 "S-rep's DL"
@vicory for Ninad's internship project

[2022-05-24 19:53] bpaniagua opened #263 "Speed up measures for shape regression"
@jamesfishbaugh please comment and let us know what has been done:

Speed up measures for shape regression: So far, the estimation procedure of subject-specific growth
trajectories is iterative, and it can take up to several minutes. Parameter tuning can be difficult and time consuming.
This becomes exacerbated when considering large population studies where each observation is highly
dimensional.

[2022-05-24 19:56] bpaniagua opened #264 "non-linear hypothesis testing"
This is to integrate Mohsen's research code into SALT

Schulz, J., Pizer, S. M., Marron, J. S. and Godtliebsen, F., “Non-linear Hypothesis Testing of Geometric
Object Properties of Shapes Applied to Hippocampi,” J. Math. Imaging Vis. 54(1), 15–34 (2016).

[2022-05-24 20:00] bpaniagua opened #265 "DL in SlicerSALT"
- [x] Geoimage CNN @styner is this Turja's work?
- [ ] Sphere CNN ???
- [ ] FlyByCNN @juanprietob is this Mathiew's work?

[2022-05-24 20:03] bpaniagua opened #266 "Statistical analysis of longitudinal populations and associated covariates"
hierarchical model for longitudinal statistics work

@yehan0223

[2022-05-25 16:05] jcfr commented on #58
https://slicer-packages.kitware.com was designed to support hosting packages for Slicer-based application.

See https://slicer-package-manager.readthedocs.io

[2022-05-26 13:10] bpaniagua opened #267 "Investigate integrating deformetrica into SALT"

[2022-05-26 14:08] Connor-Bowley commented on #258
5. Add Fly-by-CNN work that @MathieuLeclercq has been working on

[2022-05-26 14:52] bpaniagua commented on #258
add DWD module

[2022-05-26 19:27] bpaniagua commented on #265
https://pubmed.ncbi.nlm.nih.gov/35436188/

[2022-05-26 23:45] jcfr commented on #267
Source code:
https://gitlab.com/icm-institute/aramislab/deformetrica

Python packages:
https://pypi.org/project/deformetrica/4.3.0/#files

Worth noting that the license doesn't allow commercial use.
See https://gitlab.com/icm-institute/aramislab/deformetrica/-/blob/master/LICENSE.txt

[2022-05-26 23:51] jcfr commented on #267
There is also some prior related work done at Kitware but license term are  not clear. See https://github.com/ShusilDangi/Deformetrica and

[2022-05-27 15:51] Connor-Bowley commented on #259
Tutorial is up.
https://bit.ly/3sTEG3H

[2022-06-09 12:11] bpaniagua opened #269 "Update SplashScreen to new SlicerLogo"

[2022-06-10 12:43] bpaniagua commented on #269
updated in https://github.com/Kitware/SlicerSALT/pull/270

[2022-06-10 12:43] #269 closed

[2022-06-10 18:57] bpaniagua commented on #233
Addressed here https://github.com/Kitware/SlicerSALT/pull/271

[2022-06-10 18:57] #233 closed

[2022-06-10 19:07] sjh26 opened #272 "Add custom about dialog to allow for SlicerSALT specific acknowledgement text"
Current:
![unnamed (1)](https://user-images.githubusercontent.com/25040869/173133230-7a3a4bc7-e5b5-4e3b-9605-c89b09b18237.png)

Desired text:

[code]

Due the current limitation of the template, this text cannot be changed programmatically.  Instead, we will add a custom dialog similar to
[aevaSlicer](https://gitlab.kitware.com/aeva/aevaslicer/-/merge_requests/18)

[2022-06-13 19:43] bpaniagua opened #273 "Port MeshValmet into SlicerSALT"
See https://github.com/NIRALUser/MeshValmet

![image](https://user-images.githubusercontent.com/219043/205283614-483ab95e-a512-48f5-82a4-3e167777d005.png)

[2022-06-14 20:47] bpaniagua commented on #201
Tested today, it works fine
![image](https://user-images.githubusercontent.com/2599368/173685753-802d1bab-5a77-4a0e-ab8d-e36077a487c6.png)

[2022-06-14 20:47] #201 closed

[2022-06-14 20:58] bpaniagua commented on #210
loadNodeFromFile `returnNode` argument is deprecated. Loaded node is now returned directly if `returnNode` is not specified.
loadNodeFromFile `returnNode` argument is deprecated. Loaded node is now returned directly if `returnNode` is not specified.
loadNodeFromFile `returnNode` argument is deprecated. Loaded node is now returned directly if `returnNode` is not specified.
Traceback (most recent ca

[2022-06-20 18:43] bpaniagua commented on #258
@Connor-Bowley when you have the slicer tag of SlicerSALT changed, please let me know.

[2022-06-30 03:08] iPsych commented on #209
@bpaniagua It was a shape issue as you said. Resolved after correct non-spherical shape. Thanks.

[2022-06-30 03:08] #209 closed

[2022-06-30 03:16] iPsych opened #274 "Weird MFSDA result compare to original Matlab."
Dear @bpaniagua  and @vicory,

I experienced a bit weird experience with slicersalt implication (actually, same in the original python implication too) of MFSDA.
Below is the detail.

For example, Let's say testing 2 groups with 2 additional linear covariates. Total 3 covariates in the model.
When run MFSDA via below python script, it gives 3 clu_pvals no matter how many clusters are formed, even

[2022-06-30 16:12] sjh26 commented on #258
Dashboard scripts have been updated

[2022-07-01 13:34] #259 closed

[2022-07-05 13:17] Connor-Bowley opened #275 "Superbuild Slicer/SlicerSALT related repos from our fork"
Per discussion with @bpaniagua, our GROUPS fork's superbuild should be updated to use our fork of [NIRALUser/RigidAlignment](https://github.com/NIRALUser/RigidAlignment).
LAPACK can stay as is, but we also probably want to update MeshLib and SurfRemesh to be on a SlicerSALT fork instead of @jcfr's fork.

[2022-07-05 21:50] jcfr commented on #275
@ilwoolyu What do you think of consolidating your version with the one maintained at [NIRALUser/MeshLib](https://github.com/NIRALUser/MeshLib) ?

| Source: https://github.com/ilwoolyu/MeshLib/network/members |
|--|
| ![image](https://user-images.githubusercontent.com/219043/177422577-f77241e8-089d-4130-96f7-5b3d6b9dc454.png) |

------------

@ilwoolyu What do you think of consolidating your versio

[2022-08-02 22:13] jcfr commented on #146
For reference, this was most likely fixed with https://github.com/NIRALUser/GROUPS/pull/34

[2022-09-26 16:18] Connor-Bowley commented on #258
Addressing (5) in https://github.com/Kitware/SlicerSALT/pull/279.

[2022-10-03 18:13] jcfr commented on #80
Closing. Package are currently uploaded using the following script into this [folder](https://data.kitware.com/#collection/586fbb7b8d777f05f44a5c7b/folder/5bd85a568d777f06b9402dad):
https://github.com/Slicer/DashboardScripts/blob/main/scripts/slicersalt-upload-package.cmake

[2022-10-03 18:13] #80 closed

[2022-10-03 18:17] jcfr commented on #80
Alternatively, we could have the package uploaded to [https://slicer-packages.kitware.com](https://slicer-packages.kitware.com/#collection/5f4474d0e1d8c75dfc70547e/folder/5f4474d0e1d8c75dfc705480) into a `SlicerSALT` folder and look into deploying a download page similar to the one we have for Slicer at https://download.slicer.org

[2022-10-03 18:21] jcfr commented on #224
Closing. Fixed through https://github.com/Kitware/SlicerSALT/commit/047bc8b18d48275a22f1636b2051443b42f86979, https://github.com/Kitware/SlicerSALT/commit/047bc8b18d48275a22f1636b2051443b42f86979 and https://github.com/Kitware/SlicerSALT/commit/83fac8330baf19ca6f524fcedc613a865d7be98e

[2022-10-03 18:21] #224 closed

[2022-10-03 18:30] jcfr commented on #116
Closing. This has been fixed in f99e628ec096fec4e3d126829875645aa7975a2e and 2e3c697ef67295f576e984cbae34175692a50f10

[2022-10-03 18:30] #116 closed

[2022-10-24 19:17] Connor-Bowley opened #282 "Remove LAPACK as a requirement"
Is it worthwhile to remove LAPACK (and by extension Fortran) for an easier build process and lower barrier to development.

GROUPS doesn't appear to need LAPACK (https://github.com/NIRALUser/GROUPS/issues/40).

SPHARM-PDM uses it in one place that I have found. Could we replace the LAPACK call with something equivalent from Eigen (which is already in the superbuild and is used by other things like

[2022-10-24 19:18] bpaniagua commented on #282
yes, that would be fine, but we will have to benchmark SPHARM and make sure it continues working the same with the same dataset

[2022-10-24 20:35] jcfr commented on #282
For reference, the lapack function `LAPACK_sgels` is used in `ParametricMeshToSPHARMSpatialObjectFilter::ComputeCoeffs`

  https://github.com/NIRALUser/SPHARM-PDM/blob/47188484cc4e480ea725d37d997c7b1a6e143b14/Libraries/Shape/Algorithms/ParametricMeshToSPHARMSpatialObjectFilter.cxx

Related links:
* https://netlib.org/lapack/explore-html/d0/db8/group__real_g_esolve_ga166c189c7bcd808a9468c05e53da816

[2022-10-28 20:58] Connor-Bowley opened #283 "SlicerSALT doesn't work on MacOS Monterey"
There is an error that prevents `slicer.util.pip_install` from working properly.

Updating to the latest Slicer version will likely fix this.

[2022-10-28 21:00] Connor-Bowley opened #284 "Cannot properly download sample data on Windows and Mac"
The `downloadSampleDataInFolder` specifically doesn't work for SlicerDWD on Windows and Mac.

The reason is that the CrownSegmentation module doesn't exist on those platforms, causing a attribute exception before the SlicerDWD sample data can be properly set.

[2022-11-04 20:55] #283 closed

[2022-11-04 20:55] #284 closed

[2022-11-11 18:10] bpaniagua opened #288 "Modify documentation URL"
https://discourse.slicer.org/t/slicersalt-4-0-1-summary-highlights-and-changelog/26197/2

Change salt.slicer.org/docs for https://salt.slicer.org/documentation/

Thank you for reporting, Murat.

[2022-11-11 18:11] sjh26 commented on #288
Is this something we could quickly setup a re-direct for on the server?

[2022-11-11 18:46] bpaniagua commented on #288
It seems like redirection does not work. Time to grep.

[2022-11-11 18:56] bpaniagua commented on #288
Fixed https://github.com/slicersalt/slicersalt.github.io/pull/9#pullrequestreview-1177749275

[2022-11-11 18:56] #288 closed

[2022-11-21 06:19] jcfr opened #290 "Fix macOS signing ensuring QtWebEngineCore.framework is not packaged"
To successfully sign the package, Slicer should be updated to include https://github.com/Slicer/Slicer/commit/b0e0361be4f42aad2e5bb52142d9e0ed7df9d393 (`COMP: Fix macOS signing with webengine support disabled`)

Since the `slicer-macos-codesign-scripts` can be locally modified to force the removal of `QtWebEngineCore.framework` [^1], this is not required for the current `4.0.1` release of SlicerSA